In [1]:
# Install tabula-py (if not already installed)  
%pip install tabula-py  
  
import tabula  
import pandas as pd  
  
# Define the PDF file and the pages we want to extract the table from  
pdf_path = "annual_report_2017_508_0.pdf"  
pages = "9-10"  # pages 9 and 10  
  
# Use tabula to read the table from the specified pages  
# This will return a list of DataFrames  
tables = tabula.read_pdf(pdf_path, pages=pages, multiple_tables=True)  
  
# Let's see how many tables were extracted and show a preview of the first few rows of each  
print("Number of tables detected:", len(tables))  
for idx, table in enumerate(tables):  
    print(f"\nTable {idx+1} preview:")  
    print(table.head())  
  
print("\nDone")

Requirement already satisfied: tabula-py in c:\users\jakef\anaconda3\lib\site-packages (2.10.0)
Requirement already satisfied: pandas>=0.25.3 in c:\users\jakef\anaconda3\lib\site-packages (from tabula-py) (2.2.2)
Requirement already satisfied: numpy>1.24.4 in c:\users\jakef\anaconda3\lib\site-packages (from tabula-py) (1.26.4)
Requirement already satisfied: distro in c:\users\jakef\anaconda3\lib\site-packages (from tabula-py) (1.9.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jakef\anaconda3\lib\site-packages (from pandas>=0.25.3->tabula-py) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\jakef\anaconda3\lib\site-packages (from pandas>=0.25.3->tabula-py) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\jakef\anaconda3\lib\site-packages (from pandas>=0.25.3->tabula-py) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\jakef\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=0.25.3->tabula-py) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

Failed to import jpype dependencies. Fallback to subprocess.
No module named 'jpype'

Number of tables detected: 0

Done

In [6]:
import tabula  
import pandas as pd  
  
pdf_path = "annual_report_2017_508_0.pdf"  
pages = "7-12"  
  
# Use tabula with lattice mode enabled  
tables = tabula.read_pdf(pdf_path, pages=pages, multiple_tables=True, lattice=True)  
  
print("Number of tables detected with lattice=True:", len(tables))  
for idx, table in enumerate(tables):  
    print(f"\nTable {idx+1} preview:")  
    print(table.head())  
  
print("\nDone")

Requirement already satisfied: tabula-py in c:\users\jakef\anaconda3\lib\site-packages (2.10.0)
Requirement already satisfied: pandas>=0.25.3 in c:\users\jakef\anaconda3\lib\site-packages (from tabula-py) (2.2.2)
Requirement already satisfied: numpy>1.24.4 in c:\users\jakef\anaconda3\lib\site-packages (from tabula-py) (1.26.4)
Requirement already satisfied: distro in c:\users\jakef\anaconda3\lib\site-packages (from tabula-py) (1.9.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jakef\anaconda3\lib\site-packages (from pandas>=0.25.3->tabula-py) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\jakef\anaconda3\lib\site-packages (from pandas>=0.25.3->tabula-py) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\jakef\anaconda3\lib\site-packages (from pandas>=0.25.3->tabula-py) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\jakef\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=0.25.3->tabula-py) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Number of tables detected with lattice=True: 12

Table 1 preview:
Empty DataFrame
5]lifornia that would begin in early November and continue into December. Precipitation inmer
Index: []

Table 2 preview:
Empty DataFrame
6]sidences,4,002minorstructures,229commercialstructuresand10mixed,065five more than inrage).ts of
Index: []

Table 3 preview:
  commercial/residentialstructures.Thisiswellabovetheannualaverageof1,545\rresidences, 1,236 minor structures, and 55 commercial structures destroyed by wildfire\rwith this year ranking 1st in total structures lost (data from 1999 to present). California\raccounted for the highest number of structures lost in one state in 2017: 7,778 residences,\r178 commercial structures and 3,056 minor structures. Florida was second with 44\rresidences, 1 mixed commercial and residential and 282 minor structures.\r\rRequests for firefighting resources placed to the National Interagency Coordination\rCenter during the 2017 fire season were higher than the 10-year average in most\rcategories.  Filled requests for crews, engines, overhead, helicopters and heavy air\rtankers exceeded their respective 10-year averages.\r\rNational Type 1 teams were mobilized 55 times (up from 31 in 2016) and spent 829 days\ron assignments (up from 392 days in 2016).  All 16 national teams had between one and\rsix assignments each.  Type 2 Teams were mobilized 137 times (up from 192 in 2016),\rfor a total of 1,873 days assigned to incidents (up from 1,046 days in 2016). (Figures\rinclude both national and state teams.) Area Command teams were mobilized four times\r(upfromzeroassignmentsin2016).NationalIncidentManagementOrganizations\r(NIMO) mobilized 8 times in 2017 to both wildland fire and non-fire incidents (up from 7\rtimes in 2016).\r\r\rMilitary and International Resource Mobilizations\r\rMilitary: On July 22nd, one MAFFS unit was activated through a Request for Assistance\r(RFA) to the Department of Defense. This request was filled with one MAFFS from the\r152nd Airlift Wing and was positioned at Fresno, CA in support wildland fire operations.\rOn July 30th one MAFFS from the 153rd Airlift Wing and one MAFFS from the 302nd Airlift\rWing was positioned at Fresno, CA. On September 8th one additional MAFFS from the\r202nd Airlift wing was positioned at Fresno, CA. On September 16th all MAFFS were\rreleased back to the DOD.\r\rMAFFS units primarily provided retardant delivery to the Northern and Southern California\rGeographic Areas while employed from July 22 through September 16.  These units\rdelivered a total of 820,115 gallons of retardant while conducting 293 sorties.  This is up\rfrom 2016 when 165 sorties were flown delivering 395,632 gallons of retardant.\r\rOn August 14th one RC-26 aircraft and support personnel from the 141st Aerial Refueling\rWing (Washington Air National Guard) was deployed to Fairchild AFB (Spokane, WA) in\rsupport of wildland fire operations. A second RC-26 aircraft and support personnel from\rthe 162nd Fighter Wing (Arizona Air National Guard) was deployed to Mahlon Sweet Field\r(Eugene, OR) in support of wildland fire operations. Both aircraft provided incident\rawareness and assessment through infrared sensing capability to wildland fire incident\rmanagement personnel until released on September 15th.\r\r7
0                                                NaN
1  Military: On July 22nd, one MAFFS unit was act...
2  (RFA) to the Department of Defense. This reque...
3  152nd Airlift Wing and was positioned at Fresn...
4  On July 30th one MAFFS from the 153rd Airlift ...

Table 4 preview:
  commercial/residentialstructures.Thisiswellabovetheannualaverageof1,545\rresidences, 1,236 minor structures, and 55 commercial structures destroyed by wildfire\rwith this year ranking 1st in total structures lost (data from 1999 to present). California\raccounted for the highest number of structures lost in one state in 2017: 7,778 residences,\r178 commercial structures and 3,056 minor structures. Florida was second with 44\rresidences, 1 mixed commercial and residential and 282 minor structures.\r\rRequests for firefighting resources placed to the National Interagency Coordination\rCenter during the 2017 fire season were higher than the 10-year average in most\rcategories.  Filled requests for crews, engines, overhead, helicopters and heavy air\rtankers exceeded their respective 10-year averages.\r\rNational Type 1 teams were mobilized 55 times (up from 31 in 2016) and spent 829 days\ron assignments (up from 392 days in 2016).  All 16 national teams had between one and\rsix assignments each.  Type 2 Teams were mobilized 137 times (up from 192 in 2016),\rfor a total of 1,873 days assigned to incidents (up from 1,046 days in 2016). (Figures\rinclude both national and state teams.) Area Command teams were mobilized four times\r(upfromzeroassignmentsin2016).NationalIncidentManagementOrganizations\r(NIMO) mobilized 8 times in 2017 to both wildland fire and non-fire incidents (up from 7\rtimes in 2016).\r\r\rMilitary and International Resource Mobilizations\r\rMilitary: On July 22nd, one MAFFS unit was activated through a Request for Assistance\r(RFA) to the Department of Defense. This request was filled with one MAFFS from the\r152nd Airlift Wing and was positioned at Fresno, CA in support wildland fire operations.\rOn July 30th one MAFFS from the 153rd Airlift Wing and one MAFFS from the 302nd Airlift\rWing was positioned at Fresno, CA. On September 8th one additional MAFFS from the\r202nd Airlift wing was positioned at Fresno, CA. On September 16th all MAFFS were\rreleased back to the DOD.\r\rMAFFS units primarily provided retardant delivery to the Northern and Southern California\rGeographic Areas while employed from July 22 through September 16.  These units\rdelivered a total of 820,115 gallons of retardant while conducting 293 sorties.  This is up\rfrom 2016 when 165 sorties were flown delivering 395,632 gallons of retardant.\r\rOn August 14th one RC-26 aircraft and support personnel from the 141st Aerial Refueling\rWing (Washington Air National Guard) was deployed to Fairchild AFB (Spokane, WA) in\rsupport of wildland fire operations. A second RC-26 aircraft and support personnel from\rthe 162nd Fighter Wing (Arizona Air National Guard) was deployed to Mahlon Sweet Field\r(Eugene, OR) in support of wildland fire operations. Both aircraft provided incident\rawareness and assessment through infrared sensing capability to wildland fire incident\rmanagement personnel until released on September 15th.\r\r7
0                                                NaN
1  Military: On July 22nd, one MAFFS unit was act...
2  (RFA) to the Department of Defense. This reque...
3  152nd Airlift Wing and was positioned at Fresn...
4  On July 30th one MAFFS from the 153rd Airlift ...

Table 5 preview:
  On September 11th two hundred and forty-five soldiers from the 23rd Brigade Engineer\rBattalion and 1-23 Infantry Battalion out of Fort Lewis, Washington were deployed in\rsupport of the Umpqua North Complex. They were released back to Fort Lewis on\rSeptember 26th.\r\rInternational: On September 7th through the NIFC-CIFFC Agreement Canada provided\rone CL-415 scooper group from Ontario to the U.S.  On September 11th Ontario provided\roneadditionalCL-415scoopergroup.Bothscoopergroupswereassignedtothe\rNorthern Rockies Geographic Area. On September 16th both CL-415 scooper groups\rwere released back to Ontario.\r\r8  \
0  On September 11th two hundred and forty-five s...
1  Battalion and 1-23 Infantry Battalion out of F...
2  support of the Umpqua North Complex. They were...
3                                    September 26th.
4                                                NaN

                                         Unnamed: 0
0                                               NaN
1                                               NaN
2                                               NaN
3                                               NaN
4  through the NIFC-CIFFC Agreement Canada provided

Table 6 preview:
  On September 11th two hundred and forty-five soldiers from the 23rd Brigade Engineer\rBattalion and 1-23 Infantry Battalion out of Fort Lewis, Washington were deployed in\rsupport of the Umpqua North Complex. They were released back to Fort Lewis on\rSeptember 26th.\r\rInternational: On September 7th through the NIFC-CIFFC Agreement Canada provided\rone CL-415 scooper group from Ontario to the U.S.  On September 11th Ontario provided\roneadditionalCL-415scoopergroup.Bothscoopergroupswereassignedtothe\rNorthern Rockies Geographic Area. On September 16th both CL-415 scooper groups\rwere released back to Ontario.\r\r8  \
0                                                NaN
1  one CL-415 scooper group from Ontario to the U...
2  oneadditionalCL-415scoopergroup.Bothscoopergro...
3  Northern Rockies Geographic Area. On September...
4                      were released back to Ontario

                                         Unnamed: 0
0  through the NIFC-CIFFC Agreement Canada provided
1                                               NaN
2                                               NaN
3                                               NaN
4                                               NaN

Table 7 preview:
  On September 11th two hundred and forty-five soldiers from the 23rd Brigade Engineer\rBattalion and 1-23 Infantry Battalion out of Fort Lewis, Washington were deployed in\rsupport of the Umpqua North Complex. They were released back to Fort Lewis on\rSeptember 26th.\r\rInternational: On September 7th through the NIFC-CIFFC Agreement Canada provided\rone CL-415 scooper group from Ontario to the U.S.  On September 11th Ontario provided\roneadditionalCL-415scoopergroup.Bothscoopergroupswereassignedtothe\rNorthern Rockies Geographic Area. On September 16th both CL-415 scooper groups\rwere released back to Ontario.\r\r8
0  On September 11th two hundred and forty-five s...
1  Battalion and 1-23 Infantry Battalion out of F...
2  support of the Umpqua North Complex. They were...
3                                    September 26th.

Table 8 preview:
  Significant Wildland Fires\rFires and Complexes over 40,000 acres in 2017\r\rLast\rNameGACCStateStart\rReportSize In\rDateCause*Estimated Cost\rDateAcres\rNW Oklahoma\rComplexSAOK3/73/24779,292U3,200,000\rPerrytonSATX3/63/13318,156HNR\rActive\rThomasSOCA12/4into270,000U123,836,000\r2018\rLodgepole\rComplexNRMT7/208/11270,000U9,800,000\rRoosters CombGBNV7/97/24218,380U4,000,000\rChetco BarNWOR7/1210/26191,125L72,000,000\rRice RidgeNRMT7/2410/17160,187L49,251,000\rFour Seasons\rComplexGBNV7/167/25159,986U4,573,000\rWest MimsSAGA4/66/29152,515L45,500,000\rLefors EastSATX3/73/10135,000HNR\rDiamond CreekNWWA7/2310/5128,272U14,760,000\rCentral LNU\rComplexNOCA10/910/10110,720U102,000,000\rSartin DrawNRMT8/309/499,735L1,500,000\rTruckeeGBNV7/37/1198,960U2,120,260\rTohakum 2GBNV8/297/1194,221L3,456,000\rCampbell RiverAKAK6/2610/1293,520L1,056,688\rOakNOCA8/129/2386,830LNR\rHighlineGBID7/289/2184,619L2,167,864\rLong ValleyGBCA7/117/2183,733U11,953,000\rModoc July\rComplexNOCA7/248/1383,120U35,200,000\rDetwilerSOCA7/168/781,826U90,000,000\rWhite Mountain\rCreekAKAK7/310/578,857L96,310\rEclipse ComplexNOCA8/1510/878,698U46,006,691\rBrush FlatNRMT8/319/473,797L400,000\rBrianheadGBUT6/177/2471,673H3,660,000\rNena SpringsNWOR8/88/2968,007H8,900,000\rSalmon August\rComplexNOCA8/1310/465,889U39,805,700\rDry GulchGBNV7/47/1164,000U2,700,000\rMeyersNRMT7/1410/1362,034L32,800,000\rSnowstormGBNV7/147/1560,000U482,448\r9  \
0                          Significant Wildland Fire
1                                               Name
2                               NW Oklahoma\rComplex
3                                           Perryton
4                                             Thomas

  Unnamed: 0 Unnamed: 1   Unnamed: 2          Unnamed: 3      Unnamed: 4  \
0        NaN        NaN          NaN                 NaN             NaN
1       GACC      State  Start\rDate  Last\rReport\rDate  Size In\rAcres
2         SA         OK          3/7                3/24         779,292
3         SA         TX          3/6                3/13         318,156
4         SO         CA         12/4  Active\rinto\r2018         270,000

  Unnamed: 5      Unnamed: 6
0        NaN             NaN
1     Cause*  Estimated Cost
2          U       3,200,000
3          H              NR
4          U     123,836,000

Table 9 preview:
  Significant Wildland Fires\rFires and Complexes over 40,000 acres in 2017\r\rLast\rNameGACCStateStart\rReportSize In\rDateCause*Estimated Cost\rDateAcres\rNW Oklahoma\rComplexSAOK3/73/24779,292U3,200,000\rPerrytonSATX3/63/13318,156HNR\rActive\rThomasSOCA12/4into270,000U123,836,000\r2018\rLodgepole\rComplexNRMT7/208/11270,000U9,800,000\rRoosters CombGBNV7/97/24218,380U4,000,000\rChetco BarNWOR7/1210/26191,125L72,000,000\rRice RidgeNRMT7/2410/17160,187L49,251,000\rFour Seasons\rComplexGBNV7/167/25159,986U4,573,000\rWest MimsSAGA4/66/29152,515L45,500,000\rLefors EastSATX3/73/10135,000HNR\rDiamond CreekNWWA7/2310/5128,272U14,760,000\rCentral LNU\rComplexNOCA10/910/10110,720U102,000,000\rSartin DrawNRMT8/309/499,735L1,500,000\rTruckeeGBNV7/37/1198,960U2,120,260\rTohakum 2GBNV8/297/1194,221L3,456,000\rCampbell RiverAKAK6/2610/1293,520L1,056,688\rOakNOCA8/129/2386,830LNR\rHighlineGBID7/289/2184,619L2,167,864\rLong ValleyGBCA7/117/2183,733U11,953,000\rModoc July\rComplexNOCA7/248/1383,120U35,200,000\rDetwilerSOCA7/168/781,826U90,000,000\rWhite Mountain\rCreekAKAK7/310/578,857L96,310\rEclipse ComplexNOCA8/1510/878,698U46,006,691\rBrush FlatNRMT8/319/473,797L400,000\rBrianheadGBUT6/177/2471,673H3,660,000\rNena SpringsNWOR8/88/2968,007H8,900,000\rSalmon August\rComplexNOCA8/1310/465,889U39,805,700\rDry GulchGBNV7/47/1164,000U2,700,000\rMeyersNRMT7/1410/1362,034L32,800,000\rSnowstormGBNV7/147/1560,000U482,448\r9
0                          Significant Wildland Fire

Table 10 preview:
  Significant Wildland Fires\rFires and Complexes over 40,000 acres in 2017\r\rLast\rNameGACCStateStart\rReportSize In\rDateCause*Estimated Cost\rDateAcres\rNW Oklahoma\rComplexSAOK3/73/24779,292U3,200,000\rPerrytonSATX3/63/13318,156HNR\rActive\rThomasSOCA12/4into270,000U123,836,000\r2018\rLodgepole\rComplexNRMT7/208/11270,000U9,800,000\rRoosters CombGBNV7/97/24218,380U4,000,000\rChetco BarNWOR7/1210/26191,125L72,000,000\rRice RidgeNRMT7/2410/17160,187L49,251,000\rFour Seasons\rComplexGBNV7/167/25159,986U4,573,000\rWest MimsSAGA4/66/29152,515L45,500,000\rLefors EastSATX3/73/10135,000HNR\rDiamond CreekNWWA7/2310/5128,272U14,760,000\rCentral LNU\rComplexNOCA10/910/10110,720U102,000,000\rSartin DrawNRMT8/309/499,735L1,500,000\rTruckeeGBNV7/37/1198,960U2,120,260\rTohakum 2GBNV8/297/1194,221L3,456,000\rCampbell RiverAKAK6/2610/1293,520L1,056,688\rOakNOCA8/129/2386,830LNR\rHighlineGBID7/289/2184,619L2,167,864\rLong ValleyGBCA7/117/2183,733U11,953,000\rModoc July\rComplexNOCA7/248/1383,120U35,200,000\rDetwilerSOCA7/168/781,826U90,000,000\rWhite Mountain\rCreekAKAK7/310/578,857L96,310\rEclipse ComplexNOCA8/1510/878,698U46,006,691\rBrush FlatNRMT8/319/473,797L400,000\rBrianheadGBUT6/177/2471,673H3,660,000\rNena SpringsNWOR8/88/2968,007H8,900,000\rSalmon August\rComplexNOCA8/1310/465,889U39,805,700\rDry GulchGBNV7/47/1164,000U2,700,000\rMeyersNRMT7/1410/1362,034L32,800,000\rSnowstormGBNV7/147/1560,000U482,448\r9  \
0                                               Name
1                               NW Oklahoma\rComplex
2                                           Perryton
3                                             Thomas
4                                 Lodgepole\rComplex

  Unnamed: 0 Unnamed: 1   Unnamed: 2          Unnamed: 3      Unnamed: 4  \
0       GACC      State  Start\rDate  Last\rReport\rDate  Size In\rAcres
1         SA         OK          3/7                3/24         779,292
2         SA         TX          3/6                3/13         318,156
3         SO         CA         12/4  Active\rinto\r2018         270,000
4         NR         MT         7/20                8/11         270,000

  Unnamed: 5      Unnamed: 6
0     Cause*  Estimated Cost
1          U       3,200,000
2          H              NR
3          U     123,836,000
4          U       9,800,000

Table 11 preview:
  NameGACCStateStartLast\rDateReportSize In\rDateAcresCause*Estimated Cost\rRankin Ranch\rRd.SATX3/233/2560,000HNR\rPowerlineGBID8/48/1355,529U4,512,207\rNowitnaAKAK7/148/3155,254L307,802\rLegion LakeRMSD12/1112/1954,023H2,200,000\rLolo PeakNRMT7/1510/653,902L48,500,000\rCinder ButteNWOR8/28/1652,531H4,400,000\rNorse PeakNWWA8/1110/552,056U19,760,000\rSouthern LNU\rComplexNOCA10/910/2751,624U48,509,895\rMammoth CaveGBID8/48/849,912H560,000\rGarzaSOCA7/97/1048,889U15,453,433\rEagle CreekNWOR9/210/2748,831H20,251,700\rFryeSWAZ6/78/3148,443L20,000,000\rSawmillSWAZ4/235/346,991H8,200,000\rBear MountainAKAK7/911/1646,715LNR\rSapphire\rComplexNRMT7/2410/443,733U35,406,736\rUmpqua North\rComplexNWAK8/1110/1243,158U42,890,561\rPowerlineNRID7/157/2942,558L2,958,255\rHighway 200\rComplexNRMT9/110/642,442L12,500,000\rEarthstoneGBNV7/37/1141,545U3,194,000\rBoulder CreekAKAK7/210/1240,906L917,520\rHelmetAKAK7/68/2440,202L26,978\rL  Lightning     H  Human     U  Unknown/Under Investigation     OT  Other     NR  Not Reported\r\rInformation in the above table was derived from ICS-209 reports submitted in the Fire and Aviation\rManagement Web Applications system (FAMWEB). Information shown may not reflect final official figures.\r\r10  \
0                                               Name
1                                  Rankin Ranch\rRd.
2                                          Powerline
3                                            Nowitna
4                                        Legion Lake

  Unnamed: 0 Unnamed: 1   Unnamed: 2          Unnamed: 3      Unnamed: 4  \
0       GACC      State  Start\rDate  Last\rReport\rDate  Size In\rAcres
1         SA         TX         3/23                3/25          60,000
2         GB         ID          8/4                8/13          55,529
3         AK         AK         7/14                8/31          55,254
4         RM         SD        12/11               12/19          54,023

  Unnamed: 5      Unnamed: 6
0     Cause*  Estimated Cost
1          H              NR
2          U       4,512,207
3          L         307,802
4          H       2,200,000

Table 12 preview:

In [6]:
import fitz  # PyMuPDF  
import re  
import pandas as pd  
import os  
  
# Define file paths  
pdf_path = "annual_report_2017_508_0.pdf"  
csv_path = "combined_incidents_clean_final_updated_2021_v6.csv"  
output_csv = "combined_incidents_clean_final_updated_manual.csv"  
  
# Function to normalize incident names by stripping, lowercasing, and removing extra spaces  
def normalize_name(name):  
    return re.sub(r'\\s+', ' ', name.strip().lower())  
  
# Extract text from pages 7 to 13  
document = fitz.open(pdf_path)  
extracted_text = ""  
print("Extracting text from pages 7 to 13...")  
for page_num in range(6, 13):  # pages 7-13 (0-indexed)  
    page = document.load_page(page_num)  
    page_text = page.get_text()  
    print("Page", page_num+1, "preview (first 500 chars):")  
    print(page_text[:500])  
    extracted_text += "\n" + page_text  
document.close()  
print("Text extraction complete.\n")  
  
# Use regex to locate lines that likely contain incident names and cost information.  
# For example, we search for lines with a cost number pattern (e.g. 3,200,000).   
# We assume the cost is a number which might include commas, and that the incident name appears before it.  
#  
# This is a rough approach and might need adjustments based on your PDF's table layout.  
#  
# Example pattern: (incident name) ... (cost)  
cost_pattern = re.compile(r'(?P<incident>[\w\s\.\-]+?)\\s+(?P<cost>\\d{1,3}(?:,\\d{3})+(?:\\.\\d+)?)(?!\\S)', re.MULTILINE)  
  
matches = cost_pattern.finditer(extracted_text)  
cost_lookup = {}  
print("Identified cost lines:")  
for match in matches:  
    incident_name = match.group("incident")  
    cost_val = match.group("cost")  
    normalized_incident = normalize_name(incident_name)  
    cost_lookup[normalized_incident] = cost_val  
    print("Incident:", incident_name, "-> Cost:", cost_val)  
  
if not cost_lookup:  
    print("No cost lines found. You may need to adjust the regex pattern.")  
  
# Load the CSV file and update cost values for 2017 incidents where cost is 'NR'  
print("\nLoading CSV file...")  
df = pd.read_csv(csv_path)  
print("CSV loaded. Showing incidents from 2017 with 'NR' cost:")  
df_2017_nr = df[(df['Year'] == 2017) & (df['Cost'] == 'NR')]  
print(df_2017_nr[['Name', 'Cost']])  
  
update_count = 0  
for idx, row in df[df['Year'] == 2017].iterrows():  
    normalized_incident = normalize_name(row['Name'])  
    # Try to find a cost value by matching incident names  
    if normalized_incident in cost_lookup:  
        cost = cost_lookup[normalized_incident]  
        # Only update if cost is not empty and not already set  
        if str(cost).upper() != 'NR' and str(cost).strip() != '':  
            df.at[idx, 'Cost'] = cost  
            update_count += 1  
            print("Updated incident:", row['Name'], "with cost:", cost)  
  
print("\nTotal incidents updated:", update_count)  
  
# Save the updated CSV  
df.to_csv(output_csv, index=False)  
print("Updated CSV saved to:", output_csv)

Extracting text from pages 7 to 13...
Page 7 preview (first 500 chars):
5

In the East, precipitation was generally within 25 percent of normal for the summer
months. One exception was along the Gulf Coast of Texas and Louisiana in late August
where Hurricane Harvey, a rapidly intensifying Category 4 hurricane, made landfall near
Rockport, Texas, on August 25. The storm was among the wettest ever. An area of 3,643
square miles between the Louisiana state line with Texas and Houston recorded at least
40 inches of rain between August 23 and August 30. The highe
Page 8 preview (first 500 chars):
6

fell across the western states but did not extend into central and southern portions of
California. Fuels returned to a critically dry state rapidly and significant North Wind events
across northern and central California produced several large fires in early November. A
month later, strong Santa Ana winds led to the development of multiple large fires in
central and southern California. Beneficial precipitation and higher humidity did not come
to the region until mid to late December.
Page 9 preview (first 500 chars):
7

commercial/residential structures. This is well above the annual average of 1,545
residences, 1,236 minor structures, and 55 commercial structures destroyed by wildfire
with this year ranking 1st in total structures lost (data from 1999 to present). California
accounted for the highest number of structures lost in one state in 2017: 7,778 residences,
178 commercial structures and 3,056 minor structures. Florida was second with 44
residences, 1 mixed commercial and residential and 282 m
Page 10 preview (first 500 chars):
8

On September 11th two hundred and forty-five soldiers from the 23rd Brigade Engineer
Battalion and 1-23 Infantry Battalion out of Fort Lewis, Washington were deployed in
support of the Umpqua North Complex. They were released back to Fort Lewis on
September 26th.

International: On September 7th through the NIFC-CIFFC Agreement Canada provided
one CL-415 scooper group from Ontario to the U.S.  On September 11th Ontario provided
one additional CL-415 scooper group. Both scooper groups
Page 11 preview (first 500 chars):
9

Significant Wildland Fires
Fires and Complexes over 40,000 acres in 2017

Name
GACC
State
Start
Date
Last
Report
Date
Size In
Acres
Cause*
Estimated Cost
NW Oklahoma
Complex
SA
OK
3/7
3/24
779,292
U
3,200,000
Perryton
SA
TX
3/6
3/13
318,156
H
NR
Thomas
SO
CA
12/4
Active
into
2018
270,000
U
123,836,000
Lodgepole
Complex
NR
MT
7/20
8/11
270,000
U
9,800,000
Roosters Comb
GB
NV
7/9
7/24
218,380
U
4,000,000
Chetco Bar
NW
OR
7/12
10/2
Page 12 preview (first 500 chars):
10

Name
GACC
State
Start
Date
Last
Report
Date
Size In
Acres
Cause*
Estimated Cost
Rankin Ranch
Rd.
SA
TX
3/23
3/25
60,000
H
NR
Powerline
GB
ID
8/4
8/13
55,529
U
4,512,207
Nowitna
AK
AK
7/14
8/31
55,254
L
307,802
Legion Lake
RM
SD
12/11
12/19
54,023
H
2,200,000
Lolo Peak
NR
MT
7/15
10/6
53,902
L
48,500,000
Cinder Butte
NW
OR
8/2
8/16
52,531
H
4,400,000
Norse Peak
NW
WA
8/11
10/5
52,056
U
19,760,000
Southern LNU
Complex
NO
Page 13 preview (first 500 chars):
11

Significant Fire Activity
Significant fires are defined in the National Mobilization Guide as fires that are a minimum
of 100 acres in timber fuel types, 300 acres in grass and brush fuel types, or are managed
by a Type 1 or 2 Incident Management Team, WFMT or NIMO.

There were 1,409 large or significant wildfires and complexes reported in 2017 (derived
from ICS-209 reports submitted through FAMWEB). Significant wildfires represented
about 2 percent of total wildfires reported nati
Text extraction complete.

Identified cost lines:
No cost lines found. You may need to adjust the regex pattern.

Loading CSV file...
CSV loaded. Showing incidents from 2017 with 'NR' cost:
                      Name Cost
32    NW Oklahoma\nComplex   NR
33                Perryton   NR
35      Lodgepole\nComplex   NR
39   Four Seasons\nComplex   NR
41             Lefors East   NR
43    Central LNU\nComplex   NR
47          Campbell River   NR
48                     Oak   NR
51     Modoc July\nComplex   NR
53   White Mountain\nCreek   NR
58  Salmon August\nComplex   NR

Total incidents updated: 0
Updated CSV saved to: combined_incidents_clean_final_updated_manual.csv

In [7]:
# Install pdfplumber if not already installed  
%pip install pdfplumber  
  
import pdfplumber  
import pandas as pd  
import re  
import os  
  
# Define file paths  
pdf_path = "annual_report_2017_508_0.pdf"  
csv_path = "combined_incidents_clean_final_updated_2021_v6.csv"  
output_csv = "combined_incidents_clean_final_updated_manual.csv"  
  
# Function to normalize incident names by stripping, lowercasing, and removing extra spaces  
def normalize_name(name):  
    return re.sub(r'\s+', ' ', str(name).strip().lower())  
  
# Attempt to extract tables using pdfplumber on pages 7-13  
all_tables = []  
print("Extracting tables from pages 7 to 13 using pdfplumber...")  
with pdfplumber.open(pdf_path) as pdf:  
    for i in range(6, 13):  # pages 7 to 13 (0-indexed)  
        if i < len(pdf.pages):  
            page = pdf.pages[i]  
            print("\n--- Page", i+1, "---")  
            tables = page.extract_tables()  
            print("Found", len(tables), "tables on this page.")  
            for idx, table in enumerate(tables):  
                df_temp = pd.DataFrame(table[1:], columns=table[0])  
                print("\nTable", idx+1, "preview (first 5 rows):")  
                print(df_temp.head())  
                all_tables.append(df_temp)  
        else:  
            print("Page", i+1, "does not exist in this PDF.")  
              
# If multiple tables were extracted, you'll need to confirm which one has the cost data.  
# For demonstration, we assume that one of the tables has columns for incident name and estimated cost.  
# To help us build a lookup, we loop through each table and search for a column header containing 'Name'  
# and one containing 'Cost'. Adjust these conditions as needed.  
cost_lookup = {}  
for table in all_tables:  
    col_names = [col.lower() for col in table.columns if isinstance(col, str)]  
    if any('name' in col for col in col_names) and any('cost' in col for col in col_names):  
        # Identify columns; this is a crude check; you may need to adjust based on exact column names.  
        name_col = [col for col in table.columns if isinstance(col, str) and 'name' in col.lower()][0]  
        cost_col = [col for col in table.columns if isinstance(col, str) and 'cost' in col.lower()][0]  
        print("\nUsing table with name column:", name_col, "and cost column:", cost_col)  
          
        # Build lookup dictionary from normalized incident name to cost  
        for idx, row in table.iterrows():  
            incident = row[name_col]  
            cost = row[cost_col]  
            if incident and cost and (str(cost).strip().upper() != 'NR'):  
                normalized_incident = normalize_name(incident)  
                cost_lookup[normalized_incident] = str(cost).strip()  
        break  
  
print("\nFound", len(cost_lookup), "incident cost entries from the PDF.")  
  
# OPTIONALLY: print first few entries in the lookup for inspection  
print("\nFirst 10 entries in incident->cost lookup:")  
count = 0  
for k, v in cost_lookup.items():  
    print(k, "->", v)  
    count += 1  
    if count >= 10:  
        break  
  
# Load the CSV file and update cost values for 2017 incidents where cost is 'NR'  
print("\nLoading CSV file...")  
df = pd.read_csv(csv_path)  
print("CSV loaded. Showing incidents from 2017 with 'NR' cost:")  
df_2017_nr = df[(df['Year'] == 2017) & (df['Cost'] == 'NR')]  
print(df_2017_nr[['Name', 'Cost']])  
  
update_count = 0  
for idx, row in df[df['Year'] == 2017].iterrows():  
    normalized_incident = normalize_name(row['Name'])  
    # Try to find a cost value by matching incident names  
    if normalized_incident in cost_lookup:  
        cost = cost_lookup[normalized_incident]  
        # Only update if cost is not empty and not already set to an actual value (not 'NR')  
        if str(cost).upper() != 'NR' and str(cost).strip() != '':  
            df.at[idx, 'Cost'] = cost  
            update_count += 1  
            print("Updated incident:", row['Name'], "with cost:", cost)  
  
print("\nTotal incidents updated:", update_count)  
  
# Save the updated CSV  
df.to_csv(output_csv, index=False)  
print("Updated CSV saved to:", output_csv)

Requirement already satisfied: pdfplumber in c:\users\hanna\anaconda3\lib\site-packages (0.11.5)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pdfminer.six==20231228 in c:\users\hanna\anaconda3\lib\site-packages (from pdfplumber) (20231228)
Requirement already satisfied: Pillow>=9.1 in c:\users\hanna\anaconda3\lib\site-packages (from pdfplumber) (10.3.0)
Requirement already satisfied: pypdfium2>=4.18.0 in c:\users\hanna\anaconda3\lib\site-packages (from pdfplumber) (4.30.1)
Requirement already satisfied: charset-normalizer>=2.0.0 in c:\users\hanna\anaconda3\lib\site-packages (from pdfminer.six==20231228->pdfplumber) (2.0.4)
Requirement already satisfied: cryptography>=36.0.0 in c:\users\hanna\anaconda3\lib\site-packages (from pdfminer.six==20231228->pdfplumber) (42.0.5)
Requirement already satisfied: cffi>=1.12 in c:\users\hanna\anaconda3\lib\site-packages (from cryptography>=36.0.0->pdfminer.six==20231228->pdfplumber) (1.16.0)
Requirement already satisfied: pycparser in c:\users\hanna\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=36.0.0->pdfminer.six==20231228->pdfplumber) (2.21)
Extracting tables from pages 7 to 13 using pdfplumber...

--- Page 7 ---
Found 0 tables on this page.

--- Page 8 ---
Found 0 tables on this page.

--- Page 9 ---
Found 1 tables on this page.

Table 1 preview (first 5 rows):

0  Military: On July 22nd, one MAFFS unit was act...
1  (RFA) to the Department of Defense. This reque...
2  152nd Airlift Wing and was positioned at Fresn...
3  On July 30th one MAFFS from the 153rd Airlift ...
4  Wing was positioned at Fresno, CA. On Septembe...

--- Page 10 ---
Found 2 tables on this page.

Table 1 preview (first 5 rows):
  On September 11th two hundred and forty-five soldiers from the 23rd Brigade Engineer
0  Battalion and 1-23 Infantry Battalion out of F...
1  support of the Umpqua North Complex. They were...
2                                    September 26th.

Table 2 preview (first 5 rows):
                                                None  \
0  one CL-415 scooper group from Ontario to the U...
1  one additional CL-415 scooper group. Both scoo...
2  Northern Rockies Geographic Area. On September...
3                     were released back to Ontario.

  through the NIFC-CIFFC Agreement Canada provided
0                                             None
1                                             None
2                                             None
3                                             None

--- Page 11 ---
Found 1 tables on this page.

Table 1 preview (first 5 rows):
                   Name GACC State Start\nDate  Last\nReport\nDate  \
0  NW Oklahoma\nComplex   SA    OK         3/7                3/24
1              Perryton   SA    TX         3/6                3/13
2                Thomas   SO    CA        12/4  Active\ninto\n2018
3    Lodgepole\nComplex   NR    MT        7/20                8/11
4         Roosters Comb   GB    NV         7/9                7/24

  Size In\nAcres Cause* Estimated Cost
0        779,292      U      3,200,000
1        318,156      H             NR
2        270,000      U    123,836,000
3        270,000      U      9,800,000
4        218,380      U      4,000,000

--- Page 12 ---
Found 1 tables on this page.

Table 1 preview (first 5 rows):
                Name GACC State Start\nDate Last\nReport\nDate Size In\nAcres  \
0  Rankin Ranch\nRd.   SA    TX        3/23               3/25         60,000
1          Powerline   GB    ID         8/4               8/13         55,529
2            Nowitna   AK    AK        7/14               8/31         55,254
3        Legion Lake   RM    SD       12/11              12/19         54,023
4          Lolo Peak   NR    MT        7/15               10/6         53,902

  Cause* Estimated Cost
0      H             NR
1      U      4,512,207
2      L        307,802
3      H      2,200,000
4      L     48,500,000

--- Page 13 ---
Found 0 tables on this page.

Using table with name column: Name and cost column: Estimated Cost

Found 27 incident cost entries from the PDF.

First 10 entries in incident->cost lookup:
nw oklahoma complex -> 3,200,000
thomas -> 123,836,000
lodgepole complex -> 9,800,000
roosters comb -> 4,000,000
chetco bar -> 72,000,000
rice ridge -> 49,251,000
four seasons complex -> 4,573,000
west mims -> 45,500,000
diamond creek -> 14,760,000
central lnu complex -> 102,000,000

Loading CSV file...
CSV loaded. Showing incidents from 2017 with 'NR' cost:
                      Name Cost
32    NW Oklahoma\nComplex   NR
33                Perryton   NR
35      Lodgepole\nComplex   NR
39   Four Seasons\nComplex   NR
41             Lefors East   NR
43    Central LNU\nComplex   NR
47          Campbell River   NR
48                     Oak   NR
51     Modoc July\nComplex   NR
53   White Mountain\nCreek   NR
58  Salmon August\nComplex   NR
Updated incident: NW Oklahoma
Complex with cost: 3,200,000
Updated incident: Thomas with cost: 123,836,000
Updated incident: Lodgepole
Complex with cost: 9,800,000
Updated incident: Roosters Comb with cost: 4,000,000
Updated incident: Chetco Bar with cost: 72,000,000
Updated incident: Rice Ridge with cost: 49,251,000
Updated incident: Four Seasons
Complex with cost: 4,573,000
Updated incident: West Mims with cost: 45,500,000
Updated incident: Diamond Creek with cost: 14,760,000
Updated incident: Central LNU
Complex with cost: 102,000,000
Updated incident: Sartin Draw with cost: 1,500,000
Updated incident: Truckee with cost: 2,120,260
Updated incident: Tohakum 2 with cost: 3,456,000
Updated incident: Campbell River with cost: 1,056,688
Updated incident: Highline with cost: 2,167,864
Updated incident: Long Valley with cost: 11,953,000
Updated incident: Modoc July
Complex with cost: 35,200,000
Updated incident: Detwiler with cost: 90,000,000
Updated incident: White Mountain
Creek with cost: 96,310
Updated incident: Eclipse Complex with cost: 46,006,691
Updated incident: Brush Flat with cost: 400,000
Updated incident: Brianhead with cost: 3,660,000
Updated incident: Nena Springs with cost: 8,900,000
Updated incident: Salmon August
Complex with cost: 39,805,700
Updated incident: Dry Gulch with cost: 2,700,000
Updated incident: Meyers with cost: 32,800,000
Updated incident: Snowstorm with cost: 482,448

Total incidents updated: 27
Updated CSV saved to: combined_incidents_clean_final_updated_manual.csv

In [8]:
import pdfplumber  
import pandas as pd  
import re  
  
# Define file paths  
pdf_path = "annual_report_2008_508.pdf"  
csv_path = "combined_incidents_clean_final_updated_2021_v6.csv"  # Adjust if needed  
output_csv = "combined_incidents_clean_final_updated_manual_2008.csv"  
  
# Function to normalize incident names (lowercase, strip, and reduce whitespace)  
def normalize_name(name):  
    return re.sub(r'\s+', ' ', str(name).strip().lower())  
  
# Extract tables from the PDF pages  
all_tables = []  
print("Extracting tables from the 2008 report using pdfplumber...\n")  
with pdfplumber.open(pdf_path) as pdf:  
    total_pages = len(pdf.pages)  
    print("Total pages in PDF:", total_pages)  
    # Loop through all pages (or adjust the range if you know where the tables are)  
    for i in range(total_pages):  
        page = pdf.pages[i]  
        print("\n----- Page", i+1, "-----")  
        tables = page.extract_tables()  
        print("Found", len(tables), "tables on this page.")  
        for idx, table in enumerate(tables):  
            if table and len(table) > 1:  
                df_temp = pd.DataFrame(table[1:], columns=table[0])  
                print("\nTable", idx+1, "preview (first 5 rows):")  
                print(df_temp.head())  
                all_tables.append(df_temp)  
            else:  
                print("Table", idx+1, "is empty or incomplete.")  
  
# -------------------------------------------------------------------------  
# At this point, inspect the output cells to determine which table(s)  
# contain the incident names and cost values. Adjust the following  
# code to select the appropriate table. For demonstration, we assume  
# that one of the tables (e.g., the first candidate) contains the cost data.  
# -------------------------------------------------------------------------  
# For example, lets assume the desired table is the first candidate with a column header  
# containing 'Cost' or 'Estimat'. You can adjust these conditions as needed.  
cost_table = None  
for table in all_tables:  
    for col in table.columns:  
        if isinstance(col, str) and ("cost" in col.lower() or "estim" in col.lower()):  
            cost_table = table.copy()  
            break  
    if cost_table is not None:  
        break  
  
if cost_table is None:  
    print("\nNo table with cost information detected. Please manually inspect the printed tables.")  
else:  
    print("\nSelected table for cost extraction:")  
    print(cost_table.head())  
  
    # You might need to adjust the column names.  
    # For example, assume the table has columns 'Name' and 'Estimated Cost'  
    # If these differ, update the variables below accordingly.  
    name_col = None  
    cost_col = None  
    for col in cost_table.columns:  
        if isinstance(col, str):  
            if "name" in col.lower():  
                name_col = col  
            if "cost" in col.lower() or "estim" in col.lower():  
                cost_col = col  
  
    if name_col is None or cost_col is None:  
        print("\nUnable to find the appropriate columns. Please update the column selection manually.")  
    else:  
        print("\nUsing column", name_col, "for incident names and", cost_col, "for cost values.")  
  
        # Build a lookup dictionary from incident names to cost values  
        cost_lookup = {}  
        for idx, row in cost_table.iterrows():  
            incident = row[name_col]  
            cost = row[cost_col]  
            if incident and cost and (str(cost).strip().upper() != 'NR'):  
                normalized_incident = normalize_name(incident)  
                cost_lookup[normalized_incident] = str(cost).strip()  
  
        print("\nExtracted", len(cost_lookup), "incident cost entries from the PDF.")  
        print("\nFirst 10 entries in incident -> cost lookup:")  
        count = 0  
        for k, v in cost_lookup.items():  
            print(k, "->", v)  
            count += 1  
            if count >= 10:  
                break  
  
        # -------------------------------------------------------------------------  
        # Now load your CSV, update the cost values for incidents (e.g., for 2008 if that's the case)  
        # Make sure to adjust the 'Year' filter if necessary.  
        # -------------------------------------------------------------------------  
        print("\nLoading CSV file to update missing cost values...")  
        df = pd.read_csv(csv_path)  
        # Adjust the filter below appropriately. For example, if the CSV file contains the year 2008:  
        df_target = df[df['Year'] == 2008]  
        print("Incident records from 2008 with missing cost values:")  
        print(df_target[df_target['Cost'] == 'NR'][['Name', 'Cost']])  
  
        update_count = 0  
        for idx, row in df_target.iterrows():  
            normalized_incident = normalize_name(row['Name'])  
            if normalized_incident in cost_lookup:  
                cost = cost_lookup[normalized_incident]  
                if str(cost).upper() != 'NR' and str(cost).strip() != '':  
                    df.at[idx, 'Cost'] = cost  
                    update_count += 1  
                    print("Updated incident:", row['Name'], "with cost:", cost)  
  
        print("\nTotal incidents updated:", update_count)  
  
        # Save the updated CSV  
        df.to_csv(output_csv, index=False)  
        print("Updated CSV saved to:", output_csv)

Extracting tables from the 2008 report using pdfplumber...

Total pages in PDF: 76

----- Page 1 -----
Found 0 tables on this page.

----- Page 2 -----
Found 0 tables on this page.

----- Page 3 -----
Found 0 tables on this page.

----- Page 4 -----
Found 0 tables on this page.

----- Page 5 -----
Found 0 tables on this page.

----- Page 6 -----
Found 0 tables on this page.

----- Page 7 -----
Found 0 tables on this page.

----- Page 8 -----
Found 0 tables on this page.

----- Page 9 -----
Found 0 tables on this page.

----- Page 10 -----
Found 0 tables on this page.

----- Page 11 -----
Found 0 tables on this page.

----- Page 12 -----
Found 0 tables on this page.

----- Page 13 -----
Found 0 tables on this page.

----- Page 14 -----
Found 0 tables on this page.

----- Page 15 -----
Found 1 tables on this page.

Table 1 preview (first 5 rows):
                     Name Inc.\nType GACC State Start Date  \
0              Glass Fire         WF   SA    TX  2/25/2008
1         Klamath Theater         WF   NO    CA  6/21/2008
2           Basin Complex         WF   SO    CA  6/21/2008
3  Iron & Alps\nComplexes         WF   NO    CA  6/21/2008
4       Dunn Mtn.\nAssist         WF   NR    MT  8/21/2008

  Contain or\nControl\nDate Size\n(Acres) Cause          Cost
0                  3/2/2008       219,556     H            NR
1                 9/26/2008       192,038     L  $126,086,065
2                 7/29/2008       162,818     L   $78,096,079
3                  9/4/2008       105,805     L   $73,974,917
4                  9/2/2008       102,383     L    $2,900,000

----- Page 16 -----
Found 0 tables on this page.

----- Page 17 -----
Found 0 tables on this page.

----- Page 18 -----
Found 0 tables on this page.

----- Page 19 -----
Found 0 tables on this page.

----- Page 20 -----
Found 0 tables on this page.

----- Page 21 -----
Found 0 tables on this page.

----- Page 22 -----
Found 0 tables on this page.

----- Page 23 -----
Found 0 tables on this page.

----- Page 24 -----
Found 0 tables on this page.

----- Page 25 -----
Found 0 tables on this page.

----- Page 26 -----
Found 0 tables on this page.

----- Page 27 -----
Found 0 tables on this page.

----- Page 28 -----
Found 0 tables on this page.

----- Page 29 -----
Found 0 tables on this page.

----- Page 30 -----
Found 0 tables on this page.

----- Page 31 -----
Found 0 tables on this page.

----- Page 32 -----
Found 0 tables on this page.

----- Page 33 -----
Found 0 tables on this page.

----- Page 34 -----
Found 0 tables on this page.

----- Page 35 -----
Found 0 tables on this page.

----- Page 36 -----
Found 0 tables on this page.

----- Page 37 -----
Found 0 tables on this page.

----- Page 38 -----
Found 0 tables on this page.

----- Page 39 -----
Found 0 tables on this page.

----- Page 40 -----
Found 0 tables on this page.

----- Page 41 -----
Found 0 tables on this page.

----- Page 42 -----
Found 0 tables on this page.

----- Page 43 -----
Found 0 tables on this page.

----- Page 44 -----
Found 0 tables on this page.

----- Page 45 -----
Found 0 tables on this page.

----- Page 46 -----
Found 0 tables on this page.

----- Page 47 -----
Found 0 tables on this page.

----- Page 48 -----
Found 0 tables on this page.

----- Page 49 -----
Found 0 tables on this page.

----- Page 50 -----
Found 0 tables on this page.

----- Page 51 -----
Found 0 tables on this page.

----- Page 52 -----
Found 0 tables on this page.

----- Page 53 -----
Found 0 tables on this page.

----- Page 54 -----
Found 0 tables on this page.

----- Page 55 -----
Found 0 tables on this page.

----- Page 56 -----
Found 0 tables on this page.

----- Page 57 -----
Found 0 tables on this page.

----- Page 58 -----
Found 0 tables on this page.

----- Page 59 -----
Found 0 tables on this page.

----- Page 60 -----
Found 0 tables on this page.

----- Page 61 -----
Found 0 tables on this page.

----- Page 62 -----
Found 0 tables on this page.

----- Page 63 -----
Found 0 tables on this page.

----- Page 64 -----
Found 0 tables on this page.

----- Page 65 -----
Found 0 tables on this page.

----- Page 66 -----
Found 0 tables on this page.

----- Page 67 -----
Found 0 tables on this page.

----- Page 68 -----
Found 0 tables on this page.

----- Page 69 -----
Found 0 tables on this page.

----- Page 70 -----
Found 0 tables on this page.

----- Page 71 -----
Found 0 tables on this page.

----- Page 72 -----
Found 0 tables on this page.

----- Page 73 -----
Found 0 tables on this page.

----- Page 74 -----
Found 0 tables on this page.

----- Page 75 -----
Found 0 tables on this page.

----- Page 76 -----
Found 0 tables on this page.

Selected table for cost extraction:
                     Name Inc.\nType GACC State Start Date  \
0              Glass Fire         WF   SA    TX  2/25/2008
1         Klamath Theater         WF   NO    CA  6/21/2008
2           Basin Complex         WF   SO    CA  6/21/2008
3  Iron & Alps\nComplexes         WF   NO    CA  6/21/2008
4       Dunn Mtn.\nAssist         WF   NR    MT  8/21/2008

  Contain or\nControl\nDate Size\n(Acres) Cause          Cost
0                  3/2/2008       219,556     H            NR
1                 9/26/2008       192,038     L  $126,086,065
2                 7/29/2008       162,818     L   $78,096,079
3                  9/4/2008       105,805     L   $73,974,917
4                  9/2/2008       102,383     L    $2,900,000

Using column Name for incident names and Cost for cost values.

Extracted 15 incident cost entries from the PDF.

First 10 entries in incident -> cost lookup:
klamath theater -> $126,086,065
basin complex -> $78,096,079
iron & alps complexes -> $73,974,917
dunn mtn. assist -> $2,900,000
lime complex -> $59,329,698
shu lightning complex -> $56,438,391
siskiyou / blue 2 complex -> $65,692,836
indians -> $42,500,000
gunbarrel -> $11,200,000
stiles complex -> $71,644

Loading CSV file to update missing cost values...
Incident records from 2008 with missing cost values:
Empty DataFrame
Columns: [Name, Cost]
Index: []
Updated incident: Klamath Theater with cost: $126,086,065
Updated incident: Basin Complex with cost: $78,096,079
Updated incident: Iron & Alps
Complexes with cost: $73,974,917
Updated incident: Dunn Mtn.
Assist with cost: $2,900,000
Updated incident: Lime Complex with cost: $59,329,698
Updated incident: SHU Lightning
Complex with cost: $56,438,391
Updated incident: Indians with cost: $42,500,000
Updated incident: Gunbarrel with cost: $11,200,000
Updated incident: Stiles Complex with cost: $71,644
Updated incident: BTU Lightning
Complex with cost: $94,825,683
Updated incident: MEU Lightning
Complex with cost: $66,000,000
Updated incident: East Slide Rock
Ridge with cost: $8,873,000
Updated incident: Evans Road with cost: $18,249,415

Total incidents updated: 13
Updated CSV saved to: combined_incidents_clean_final_updated_manual_2008.csv

In [10]:
import pdfplumber  
import pandas as pd  
import re  
  
# Define file paths  
pdf_path = "annual_report.2022.pdf"  
csv_path = "combined_incidents_clean_final_updated_2021_v6.csv"  
output_csv = "combined_incidents_clean_final_updated_manual_2022.csv"  
  
# Function to normalize incident names (convert to string, strip, lower, and reduce whitespace)  
def normalize_name(name):  
    return re.sub(r'\\s+', ' ', str(name).strip().lower())  
  
# Extract the table that includes the estimated cost.  
# You mentioned that the preview output showed two pages with 1 table each,  
# one of which appears to have cost data with a column 'Estimated Cost'.  
# We'll scan through all pages and pick the first table where that column seems to be present.  
cost_lookup = {}  
  
print("Extracting cost data from the 2022 report...")  
with pdfplumber.open(pdf_path) as pdf:  
    for i, page in enumerate(pdf.pages):  
        tables = page.extract_tables()  
        if not tables:  
            continue  
        for table in tables:  
            # Convert to DataFrame if table has headers and at least 2 rows.  
            if len(table) < 2:  
                continue  
            df_temp = pd.DataFrame(table[1:], columns=table[0])  
            # Use lower-case column names for matching.  
            df_temp.columns = [str(col).strip().lower() for col in df_temp.columns]  
            # Check if table has an 'estimated cost' column.  
            possible_cost_cols = [col for col in df_temp.columns if 'cost' in col]  
            if possible_cost_cols:  
                cost_col = possible_cost_cols[0]  # choose the first matching column  
                # We assume the incident name is in a column that includes 'name'  
                possible_name_cols = [col for col in df_temp.columns if 'name' in col]  
                if not possible_name_cols:  
                    continue  
                name_col = possible_name_cols[0]  
                  
                # Build lookup dictionary from normalized incident name to cleaned cost.  
                for idx, row in df_temp.iterrows():  
                    incident = row[name_col]  
                    cost = row[cost_col]  
                    # Clean cost: remove currency symbols and commas, then reformat if desired  
                    if incident and cost:  
                        # Only add if cost looks like a number (has digits)  
                        if any(char.isdigit() for char in str(cost)):  
                            cleaned_cost = str(cost).replace('$', '').replace(',', '').strip()  
                            norm_incident = normalize_name(incident)  
                            cost_lookup[norm_incident] = cleaned_cost  
                print("Extracted", len(cost_lookup), "cost entries from page", i+1)  
                # Uncomment the following if you only expect one table to contain cost info:  
                # break  
        if cost_lookup:  
            break  
  
if not cost_lookup:  
    print("No cost data found in the PDF. Please adjust the extraction logic and column matching.")  
else:  
    print("First few lookup entries:")  
    count = 0  
    for key, value in cost_lookup.items():  
        print(key, "->", value)  
        count += 1  
        if count >= 10:  
            break  
  
# Load the CSV file and update cost values for 2022 records with missing costs (, NR, or empty)  
print("\nLoading CSV file...")  
df = pd.read_csv(csv_path)  
  
# For 2022, we found missing cost values (they are , check output above).  
df_2022 = df[df['Year'] == 2022]  
print("Found", len(df_2022), "records for 2022.")  
missing_cost = df_2022[(df_2022['Cost'].isna()) | (df_2022['Cost'] == 'NR') | (df_2022['Cost'] == '')]  
print("Records with missing costs:", len(missing_cost))  
  
update_count = 0  
for idx, row in df_2022.iterrows():  
    norm_name = normalize_name(row['Name'])  
    if norm_name in cost_lookup:  
        cost = cost_lookup[norm_name]  
        # Update the main CSV DataFrame using index in original df.  
        df.at[row.name, 'Cost'] = cost  
        update_count += 1  
        print("Updated:", row['Name'], "with cost:", cost)  
    else:  
        print("No match for:", row['Name'])  
  
print("\nTotal incidents updated:", update_count)  
  
# Save updated CSV  
df.to_csv(output_csv, index=False)  
print("Updated CSV saved to:", output_csv)

Extracting cost data from the 2022 report...
Extracted 31 cost entries from page 9
First few lookup entries:
lime complex -> 12726992
hermits peak -> 330100293
black -> 60190000
paradise complex -> 2782896
tatlawiksuk -> 75965
nc hpai 2022 -> 484012
bean complex -> 11656365
hog butte -> 628717
double creek -> 39500000
east fork -> 6150000

Loading CSV file...
Found 40 records for 2022.
Records with missing costs: 40
Updated: Lime Complex with cost: 12726992
Updated: Hermits Peak with cost: 330100293
Updated: Black with cost: 60190000
Updated: Paradise Complex with cost: 2782896
Updated: Tatlawiksuk with cost: 75965
Updated: NC HPAI 2022 with cost: 484012
Updated: Bean Complex with cost: 11656365
No match for: Koktuli River
Updated: Hog Butte with cost: 628717
Updated: Double Creek with cost: 39500000
Updated: East Fork with cost: 6150000
No match for: Poorman Complex
Updated: Moose with cost: 98200000
Updated: Cedar Creek with cost: 133750000
Updated: Aghaluk Mountain with cost: 12726992
Updated: Door Mountain with cost: 500
Updated: Chitanana with cost: 1148818
Updated: Dalton Highway
Complex with cost: 6971097
Updated: Pike Creek with cost: 76037
No match for: Swift River
No match for: Apoon Pass
Updated: Mosquito with cost: 181100000
Updated: Clear with cost: 2363465
Updated: Bitzshitini with cost: 216545
Updated: Camp Creek with cost: 45000
Updated: Donut with cost: 45000
Updated: Middle Tanana
Complex with cost: 3434457
No match for: North Fork
Updated: McKinney with cost: 96580000
Updated: Cooks Peak with cost: 12500000
No match for: Lansing Creek
Updated: Eastland Complex with cost: 7
No match for: Door Creek
Updated: Schilling Creek with cost: 50000
No match for: Titnuk Creek
No match for: Borrega
Updated: Fourth of July
Creek with cost: 70912
Updated: Radio Creek with cost: 75000
Updated: Kiknik with cost: 3033
Updated: Cerro Pelado with cost: 46800000

Total incidents updated: 31
Updated CSV saved to: combined_incidents_clean_final_updated_manual_2022.csv

In [11]:
# Now let's extract the cost data from the 2022 annual report and update our CSV
import pdfplumber
import pandas as pd
import re

# Define file paths
pdf_path = "annual_report.2022.pdf"
csv_path = "combined_incidents_clean_final_updated_manual_2022.csv"
output_csv = "combined_incidents_clean_final_updated_2022_with_costs.csv"

# Function to normalize incident names (convert to string, strip, lower, and reduce whitespace)
def normalize_name(name):
    return re.sub(r'\s+', ' ', str(name).strip().lower())

# Function to clean cost values (remove $ and commas, convert to numeric)
def clean_cost(cost):
    if pd.isna(cost) or cost == '' or str(cost).strip() == '':
        return 'NR'
    cost_str = str(cost).strip()
    if cost_str.upper() == 'NR':
        return 'NR'
    # Remove $ and commas, then add $ back
    cost_str = cost_str.replace('$', '').replace(',', '')
    return '$' + cost_str

# Extract tables from the PDF
cost_lookup = {}
print("Extracting cost data from the 2022 report...")

with pdfplumber.open(pdf_path) as pdf:
    for i, page in enumerate(pdf.pages):
        tables = page.extract_tables()
        if not tables:
            continue
            
        for table_idx, table in enumerate(tables):
            if len(table) < 2:  # Skip tables with no data rows
                continue
                
            # Convert to DataFrame
            df_table = pd.DataFrame(table[1:], columns=table[0])
            
            # Check if this table has cost data
            cost_col = None
            name_col = None
            
            for col in df_table.columns:
                if col and 'cost' in str(col).lower():
                    cost_col = col
                if col and 'name' in str(col).lower():
                    name_col = col
            
            if cost_col and name_col:
                print(f"Found cost data in table {table_idx+1} on page {i+1}")
                print(f"Name column: {name_col}, Cost column: {cost_col}")
                
                # Build lookup dictionary
                for _, row in df_table.iterrows():
                    incident_name = row[name_col]
                    cost_value = row[cost_col]
                    
                    if pd.notna(incident_name) and pd.notna(cost_value) and str(incident_name).strip() != '':
                        norm_name = normalize_name(incident_name)
                        clean_cost_val = clean_cost(cost_value)
                        cost_lookup[norm_name] = clean_cost_val
                        
print(f"Extracted {len(cost_lookup)} incident costs from the PDF")
print("\
Sample of extracted costs:")
count = 0
for name, cost in cost_lookup.items():
    print(f"{name}: {cost}")
    count += 1
    if count >= 10:
        break

# Load the CSV file
df = pd.read_csv(csv_path)
print(f"\
Loaded CSV with {len(df)} records")

# Update costs for 2022 records
update_count = 0
df_2022 = df[df['Year'] == 2022]
print(f"Found {len(df_2022)} records for 2022")

for idx, row in df_2022.iterrows():
    norm_name = normalize_name(row['Name'])
    if norm_name in cost_lookup:
        cost = cost_lookup[norm_name]
        if cost != 'NR':  # Only update if we have a real cost value
            df.at[idx, 'Cost'] = cost
            update_count += 1
            print(f"Updated: {row['Name']} with cost: {cost}")

print(f"\
Total incidents updated with actual costs: {update_count}")

# Save the updated CSV
df.to_csv(output_csv, index=False)
print(f"Updated CSV saved to: {output_csv}")

# Show a sample of the updated 2022 records
print("\
Sample of updated 2022 records:")
updated_df = pd.read_csv(output_csv)
updated_2022 = updated_df[updated_df['Year'] == 2022]
print(updated_2022[['Name', 'Cost']].head(10))

Extracting cost data from the 2022 report...
Found cost data in table 1 on page 9
Name column: Name, Cost column: Estimated Cost
Found cost data in table 1 on page 10
Name column: Name, Cost column: Estimated Cost
Extracted 45 incident costs from the PDF
Sample of extracted costs:
lime complex: $12726992
hermits peak: $330100293
black: $60190000
paradise complex: $2782896
tatlawiksuk: $75965
nc hpai 2022: $484012
bean complex: $11656365
koktuli river: NR
hog butte: $628717
double creek: $39500000
Loaded CSV with 470 records
Found 40 records for 2022
Updated: Lime Complex with cost: $12726992
Updated: Hermits Peak with cost: $330100293
Updated: Black with cost: $60190000
Updated: Paradise Complex with cost: $2782896
Updated: Tatlawiksuk with cost: $75965
Updated: NC HPAI 2022 with cost: $484012
Updated: Bean Complex with cost: $11656365
Updated: Hog Butte with cost: $628717
Updated: Double Creek with cost: $39500000
Updated: East Fork with cost: $6150000
Updated: Moose with cost: $98200000
Updated: Cedar Creek with cost: $133750000
Updated: Aghaluk Mountain with cost: $12726992
Updated: Door Mountain with cost: $500
Updated: Chitanana with cost: $1148818
Updated: Dalton Highway
Complex with cost: $6971097
Updated: Pike Creek with cost: $76037
Updated: Mosquito with cost: $181100000
Updated: Clear with cost: $2363465
Updated: Bitzshitini with cost: $216545
Updated: Camp Creek with cost: $45000
Updated: Donut with cost: $45000
Updated: Middle Tanana
Complex with cost: $3434457
Updated: McKinney with cost: $96580000
Updated: Cooks Peak with cost: $12500000
Updated: Eastland Complex with cost: $7
Updated: Schilling Creek with cost: $50000
Updated: Fourth of July
Creek with cost: $70912
Updated: Radio Creek with cost: $75000
Updated: Kiknik with cost: $3033
Updated: Cerro Pelado with cost: $46800000
Total incidents updated with actual costs: 31
Updated CSV saved to: combined_incidents_clean_final_updated_2022_with_costs.csv
Sample of updated 2022 records:
                Name        Cost
82      Lime Complex   $12726992
83      Hermits Peak  $330100293
84             Black   $60190000
85  Paradise Complex    $2782896
86       Tatlawiksuk      $75965
87      NC HPAI 2022     $484012
88      Bean Complex   $11656365
89     Koktuli River         NaN
90         Hog Butte     $628717
91      Double Creek   $39500000

In [13]:
import pdfplumber  
import pandas as pd  
import re  
  
# Define file paths for the 2016 report and input CSV (make sure to use the CSV that contains all the years)  
pdf_path_2016 = "annual_report_2016_508.pdf"  
csv_path = "combined_incidents_clean_final_updated_manual_2022.csv"  # assuming this file contains multiple years  
output_csv = "combined_incidents_clean_final_updated_2016.csv"  
  
# Function to normalize incident names (convert to string, strip, lower, and reduce whitespace)  
def normalize_name(name):  
    return re.sub(r'\s+', ' ', str(name).strip().lower())  
  
# Function to clean cost values (remove $ and commas then add $ back; if blank return 'NR')  
def clean_cost(cost):  
    if pd.isna(cost) or str(cost).strip() == '':  
        return 'NR'  
    cost_str = str(cost).strip()  
    if cost_str.upper() == 'NR':  
        return 'NR'  
    # Remove $ and commas then add $ back  
    clean_val = cost_str.replace('$', '').replace(',', '')  
    return '$' + clean_val  
  
# Extract the cost table from the 2016 PDF  
cost_lookup_2016 = {}  
print("Extracting cost data from the 2016 annual report...")  
with pdfplumber.open(pdf_path_2016) as pdf:  
    for i, page in enumerate(pdf.pages):  
        tables = page.extract_tables()  
        if not tables:  
            continue       
        for table_idx, table in enumerate(tables):  
            if len(table) < 2:  
                continue  
            df_table = pd.DataFrame(table[1:], columns=table[0])  
            # Identify columns for incident names and cost by searching header names (lowercased)  
            cost_col = None  
            name_col = None  
            for col in df_table.columns:  
                if col and 'cost' in str(col).lower():  
                    cost_col = col  
                if col and 'name' in str(col).lower():  
                    name_col = col  
            if cost_col and name_col:  
                print("Found cost data in table " + str(table_idx+1) + " on page " + str(i+1))  
                print("Name column: " + str(name_col) + ", Cost column: " + str(cost_col))  
                # Build lookup dictionary  
                for _, row in df_table.iterrows():  
                    incident_name = row[name_col]  
                    cost_value = row[cost_col]  
                    if pd.notna(incident_name) and pd.notna(cost_value) and str(incident_name).strip() != '':  
                        norm_name = normalize_name(incident_name)  
                        clean_cost_val = clean_cost(cost_value)  
                        cost_lookup_2016[norm_name] = clean_cost_val  
  
print("Extracted", len(cost_lookup_2016), "incident cost entries from the 2016 report.")  
print("\nSample of extracted costs:")  
count = 0  
for name, cost in cost_lookup_2016.items():  
    print(name + ": " + cost)  
    count += 1  
    if count >= 10:  
        break  
  
# Load the CSV file containing records for all years  
df = pd.read_csv(csv_path)  
print("\nLoaded CSV with", len(df), "records.")  
  
# Update cost values for records with Year == 2016 using the lookup dictionary  
update_count = 0  
df_2016 = df[df['Year'] == 2016]  
print("Found", len(df_2016), "records for Year 2016.")  
for idx, row in df_2016.iterrows():  
    norm_name = normalize_name(row['Name'])  
    if norm_name in cost_lookup_2016:  
        cost = cost_lookup_2016[norm_name]  
        if cost != 'NR':  # Update only if valid cost exists  
            df.at[idx, 'Cost'] = cost  
            update_count += 1  
            print("Updated:", row['Name'], "with cost:", cost)  
              
print("\nTotal incidents updated with actual costs for 2016:", update_count)  
  
# After updating, ensure every record has a cost entry: if blank or missing, fill with 'NR'  
def format_cost(cost):  
    if pd.isna(cost) or str(cost).strip() == '':  
        return 'NR'  
    cost_str = str(cost).strip()  
    if cost_str.upper() == 'NR':  
        return 'NR'  
    if not cost_str.startswith('$'):  
        return '$' + cost_str  
    return cost_str  
  
df['Cost'] = df['Cost'].apply(format_cost)  
  
# Save the updated CSV file  
df.to_csv(output_csv, index=False)  
print("Updated CSV saved to:", output_csv)  
  
# Display sample 2016 records  
df_updated = pd.read_csv(output_csv)  
df_2016_updated = df_updated[df_updated['Year'] == 2016]  
print("\nSample of updated 2016 records:")  
print(df_2016_updated[['Name', 'Cost']].head(10))

Extracting cost data from the 2016 annual report...
Found cost data in table 1 on page 11
Name column: Name, Cost column: Estimated
Cost
Extracted 19 incident cost entries from the 2016 report.

Sample of extracted costs:
anderson creek: $1750000
pioneer: $90000000
range 12: $1700000
soberanes: $262500000
hot pot: $3402259
alatna complex: $1040018
virginia mountains complex: $8000200
dulbi flats: NR
350 complex: $900000
henrys creek: $4320000

Loaded CSV with 470 records.
Found 19 records for Year 2016.
Updated: Anderson Creek with cost: $1750000
Updated: Pioneer with cost: $90000000
Updated: Range 12 with cost: $1700000
Updated: Soberanes with cost: $262500000
Updated: Hot Pot with cost: $3402259
Updated: Alatna Complex with cost: $1040018
Updated: Virginia Mountains Complex with cost: $8000200
Updated: 350 Complex with cost: $900000
Updated: Henrys Creek with cost: $4320000
Updated: Erskine with cost: $23000000
Updated: Chimney with cost: $78300000
Updated: Cedar with cost: $14000000
Updated: Maple with cost: $6267928
Updated: Big Mud with cost: $59268
Updated: North with cost: $4800000
Updated: Rail with cost: $34900000
Updated: Cottonwood CA with cost: $170000

Total incidents updated with actual costs for 2016: 17
Updated CSV saved to: combined_incidents_clean_final_updated_2016.csv

Sample of updated 2016 records:
                           Name        Cost
131              Anderson Creek    $1750000
132                     Pioneer   $90000000
133                    Range 12    $1700000
134                   Soberanes  $262500000
135                     Hot Pot    $3402259
136              Alatna Complex    $1040018
137  Virginia Mountains Complex    $8000200
138                 Dulbi Flats          NR
139                 350 Complex     $900000
140                Henrys Creek    $4320000

In [14]:
import pdfplumber
import pandas as pd
import re

# Define file paths for the 2016 report and input CSV
pdf_path_2016 = "annual_report_2016_508.pdf"
csv_path = "combined_incidents_clean_final_updated_2022_with_costs.csv"  # Use the most recent updated CSV
output_csv = "combined_incidents_clean_final_updated_2016_2020.csv"

# Function to normalize incident names (convert to string, strip, lower, and reduce whitespace)
def normalize_name(name):
    return re.sub(r'\s+', ' ', str(name).strip().lower())

# Function to clean cost values (remove $ and commas then add $ back; if blank return 'NR')
def clean_cost(cost):
    if pd.isna(cost) or str(cost).strip() == '':
        return 'NR'
    cost_str = str(cost).strip()
    if cost_str.upper() == 'NR':
        return 'NR'
    # Remove $ and commas then add $ back
    clean_val = cost_str.replace('$', '').replace(',', '')
    return '$' + clean_val

# Extract the cost table from the 2016 PDF
cost_lookup_2016 = {}
print("Extracting cost data from the 2016 annual report...")
with pdfplumber.open(pdf_path_2016) as pdf:
    for i, page in enumerate(pdf.pages):
        tables = page.extract_tables()
        if not tables:
            continue     
        for table_idx, table in enumerate(tables):
            if len(table) < 2:
                continue
            df_table = pd.DataFrame(table[1:], columns=table[0])
            
            # Identify columns for incident names and cost by searching header names
            cost_col = None
            name_col = None
            
            for col in df_table.columns:
                if col and 'cost' in str(col).lower():
                    cost_col = col
                if col and 'name' in str(col).lower():
                    name_col = col
            
            if cost_col and name_col:
                print(f"Found cost data in table {table_idx+1} on page {i+1}")
                print(f"Name column: {name_col}, Cost column: {cost_col}")
                
                # Build lookup dictionary
                for _, row in df_table.iterrows():
                    incident_name = row[name_col]
                    cost_value = row[cost_col]
                    
                    if pd.notna(incident_name) and pd.notna(cost_value) and str(incident_name).strip() != '':
                        norm_name = normalize_name(incident_name)
                        clean_cost_val = clean_cost(cost_value)
                        cost_lookup_2016[norm_name] = clean_cost_val

print(f"Extracted {len(cost_lookup_2016)} incident costs from the 2016 report.")
print("\
Sample of extracted costs from 2016:")
count = 0
for name, cost in cost_lookup_2016.items():
    print(f"{name}: {cost}")
    count += 1
    if count >= 10:
        break

# Now extract from the 2020 PDF
pdf_path_2020 = "annual_report_2020.pdf"
cost_lookup_2020 = {}

print("\
Extracting cost data from the 2020 annual report...")
with pdfplumber.open(pdf_path_2020) as pdf:
    for i, page in enumerate(pdf.pages):
        tables = page.extract_tables()
        if not tables:
            continue     
        for table_idx, table in enumerate(tables):
            if len(table) < 2:
                continue
            df_table = pd.DataFrame(table[1:], columns=table[0])
            
            # Identify columns for incident names and cost by searching header names
            cost_col = None
            name_col = None
            
            for col in df_table.columns:
                if col and 'cost' in str(col).lower():
                    cost_col = col
                if col and 'name' in str(col).lower():
                    name_col = col
            
            if cost_col and name_col:
                print(f"Found cost data in table {table_idx+1} on page {i+1}")
                print(f"Name column: {name_col}, Cost column: {cost_col}")
                
                # Build lookup dictionary
                for _, row in df_table.iterrows():
                    incident_name = row[name_col]
                    cost_value = row[cost_col]
                    
                    if pd.notna(incident_name) and pd.notna(cost_value) and str(incident_name).strip() != '':
                        norm_name = normalize_name(incident_name)
                        clean_cost_val = clean_cost(cost_value)
                        cost_lookup_2020[norm_name] = clean_cost_val

print(f"Extracted {len(cost_lookup_2020)} incident costs from the 2020 report.")
print("\
Sample of extracted costs from 2020:")
count = 0
for name, cost in cost_lookup_2020.items():
    print(f"{name}: {cost}")
    count += 1
    if count >= 10:
        break

# Load the CSV file containing records for all years
df = pd.read_csv(csv_path)
print(f"\
Loaded CSV with {len(df)} records.")

# Update cost values for records with Year == 2016 using the lookup dictionary
update_count_2016 = 0
df_2016 = df[df['Year'] == 2016]
print(f"Found {len(df_2016)} records for Year 2016.")
for idx, row in df_2016.iterrows():
    norm_name = normalize_name(row['Name'])
    if norm_name in cost_lookup_2016:
        cost = cost_lookup_2016[norm_name]
        if cost != 'NR':  # Update only if valid cost exists
            df.at[idx, 'Cost'] = cost
            update_count_2016 += 1
            print(f"Updated 2016: {row['Name']} with cost: {cost}")
            
print(f"\
Total incidents updated with actual costs for 2016: {update_count_2016}")

# Update cost values for records with Year == 2020 using the lookup dictionary
update_count_2020 = 0
df_2020 = df[df['Year'] == 2020]
print(f"Found {len(df_2020)} records for Year 2020.")
for idx, row in df_2020.iterrows():
    norm_name = normalize_name(row['Name'])
    if norm_name in cost_lookup_2020:
        cost = cost_lookup_2020[norm_name]
        if cost != 'NR':  # Update only if valid cost exists
            df.at[idx, 'Cost'] = cost
            update_count_2020 += 1
            print(f"Updated 2020: {row['Name']} with cost: {cost}")
            
print(f"\
Total incidents updated with actual costs for 2020: {update_count_2020}")

# After updating, ensure every record has a cost entry: if blank or missing, fill with 'NR'
def format_cost(cost):
    if pd.isna(cost) or str(cost).strip() == '':
        return 'NR'
    cost_str = str(cost).strip()
    if cost_str.upper() == 'NR':
        return 'NR'
    if not cost_str.startswith('$'):
        return '$' + cost_str
    return cost_str

df['Cost'] = df['Cost'].apply(format_cost)

# Save the updated CSV file
df.to_csv(output_csv, index=False)
print(f"Updated CSV saved to: {output_csv}")

# Display sample of updated records
df_updated = pd.read_csv(output_csv)
print("\
Sample of updated 2016 records:")
df_2016_updated = df_updated[df_updated['Year'] == 2016]
print(df_2016_updated[['Name', 'Cost']].head(10))

print("\
Sample of updated 2020 records:")
df_2020_updated = df_updated[df_updated['Year'] == 2020]
print(df_2020_updated[['Name', 'Cost']].head(10))

Extracting cost data from the 2016 annual report...
Found cost data in table 1 on page 11
Name column: Name, Cost column: Estimated
Cost
Extracted 19 incident costs from the 2016 report.
Sample of extracted costs from 2016:
anderson creek: $1750000
pioneer: $90000000
range 12: $1700000
soberanes: $262500000
hot pot: $3402259
alatna complex: $1040018
virginia mountains complex: $8000200
dulbi flats: NR
350 complex: $900000
henrys creek: $4320000
Extracting cost data from the 2020 annual report...
Found cost data in table 1 on page 10
Name column: Name, Cost column: Estimated
Cost
Found cost data in table 1 on page 11
Name column: Name, Cost column: Estimated
Cost
Extracted 50 incident costs from the 2020 report.
Sample of extracted costs from 2020:
august complex: $115511218
scu lightning complex: $69412351
shf elkhorn: NR
creek: $193000000
lnu lightning complex: $94646381
north complex: $112711950
pearl hill: $4241353
cameron peak: $133300000
lionshead: $65440000
east troublesome: $15682681
Loaded CSV with 470 records.
Found 19 records for Year 2016.
Updated 2016: Anderson Creek with cost: $1750000
Updated 2016: Pioneer with cost: $90000000
Updated 2016: Range 12 with cost: $1700000
Updated 2016: Soberanes with cost: $262500000
Updated 2016: Hot Pot with cost: $3402259
Updated 2016: Alatna Complex with cost: $1040018
Updated 2016: Virginia Mountains Complex with cost: $8000200
Updated 2016: 350 Complex with cost: $900000
Updated 2016: Henrys Creek with cost: $4320000
Updated 2016: Erskine with cost: $23000000
Updated 2016: Chimney with cost: $78300000
Updated 2016: Cedar with cost: $14000000
Updated 2016: Maple with cost: $6267928
Updated 2016: Big Mud with cost: $59268
Updated 2016: North with cost: $4800000
Updated 2016: Rail with cost: $34900000
Updated 2016: Cottonwood CA with cost: $170000
Total incidents updated with actual costs for 2016: 17
Found 34 records for Year 2020.
Updated 2020: August Complex with cost: $115511218
Updated 2020: SCU Lightning
Complex with cost: $69412351
Updated 2020: Creek with cost: $193000000
Updated 2020: LNU Lightning
Complex with cost: $94646381
Updated 2020: North Complex with cost: $112711950
Updated 2020: Pearl Hill with cost: $4241353
Updated 2020: Cameron Peak with cost: $133300000
Updated 2020: Lionshead with cost: $65440000
Updated 2020: East Troublesome with cost: $15682681
Updated 2020: Beachie Creek with cost: $29838526
Updated 2020: Bush with cost: $11642634
Updated 2020: Cold Springs with cost: $3917998
Updated 2020: Mullen with cost: $42400000
Updated 2020: Holiday Farm with cost: $29100932
Updated 2020: Slater with cost: $55043900
Updated 2020: August Complex
West Zone with cost: $115300000
Updated 2020: Pine Gulch with cost: $35000000
Updated 2020: Riverside with cost: $20482000
Updated 2020: Archie Creek with cost: $40000000
Updated 2020: Whitney with cost: $3300000
Updated 2020: Dolan with cost: $74000000
Updated 2020: Bighorn with cost: $44463612
Updated 2020: Bobcat with cost: $100000000
Updated 2020: Woodhead with cost: $11230000
Updated 2020: Badger with cost: $15800000
Updated 2020: East Fork with cost: $23523403
Updated 2020: CZU August
Lightning with cost: $55900466
Updated 2020: W-5 Cold Springs with cost: $10300000
Updated 2020: July Complex with cost: $35000000
Updated 2020: Caldwall with cost: $34500000
Total incidents updated with actual costs for 2020: 30
Updated CSV saved to: combined_incidents_clean_final_updated_2016_2020.csv
Sample of updated 2016 records:
                           Name        Cost
131              Anderson Creek    $1750000
132                     Pioneer   $90000000
133                    Range 12    $1700000
134                   Soberanes  $262500000
135                     Hot Pot    $3402259
136              Alatna Complex    $1040018
137  Virginia Mountains Complex    $8000200
138                 Dulbi Flats          NR
139                 350 Complex     $900000
140                Henrys Creek    $4320000
Sample of updated 2020 records:
                       Name        Cost
201          August Complex  $115511218
202  SCU Lightning\nComplex   $69412351
203             SHF Elkhorn          NR
204                   Creek  $193000000
205  LNU Lightning\nComplex   $94646381
206           North Complex  $112711950
207              Pearl Hill    $4241353
208            Cameron Peak  $133300000
209               Lionshead   $65440000
210        East Troublesome   $15682681

In [15]:
import pdfplumber
import pandas as pd
import re

# Define file paths for the two new reports
pdf_path_2023 = "annual_report_2023_508_0.pdf"
pdf_path_2018 = "annual_report_ 2018_508.pdf"  # Note the space in filename

# Use the latest CSV that we have been updating
csv_path = "combined_incidents_clean_final_updated_2016_2020.csv"
output_csv = "combined_incidents_clean_final_updated_all_years.csv"

# Define helper functions

def normalize_name(name):
    return re.sub(r'\s+', ' ', str(name).strip().lower())


def clean_cost(cost):
    if pd.isna(cost) or str(cost).strip() == '':
        return 'NR'
    cost_str = str(cost).strip()
    if cost_str.upper() == 'NR':
        return 'NR'
    clean_val = cost_str.replace('$', '').replace(',', '')
    return '$' + clean_val

# Function to extract cost lookup from a given PDF

def extract_cost_lookup(pdf_path):
    cost_lookup = {}
    try:
        with pdfplumber.open(pdf_path) as pdf:
            for i, page in enumerate(pdf.pages):
                tables = page.extract_tables()
                if not tables:
                    continue
                for table_idx, table in enumerate(tables):
                    # skip if table has less than 2 rows
                    if len(table) < 2:
                        continue
                    df_table = pd.DataFrame(table[1:], columns=table[0])
                    cost_col = None
                    name_col = None
                    for col in df_table.columns:
                        if col and 'cost' in str(col).lower():
                            cost_col = col
                        if col and 'name' in str(col).lower():
                            name_col = col
                    if cost_col and name_col:
                        # Debug print for which table found
                        print("Found cost data in table " + str(table_idx+1) + " on page " + str(i+1) + " in " + pdf_path)
                        for _, row in df_table.iterrows():
                            incident_name = row[name_col]
                            cost_value = row[cost_col]
                            if pd.notna(incident_name) and pd.notna(cost_value) and str(incident_name).strip() != "":
                                norm_name = normalize_name(incident_name)
                                clean_cost_val = clean_cost(cost_value)
                                cost_lookup[norm_name] = clean_cost_val
    except Exception as e:
        print("Error processing " + pdf_path + ": " + str(e))
    return cost_lookup

# Extract cost data from the 2023 report
print("\
Extracting cost data from the 2023 annual report...")
cost_lookup_2023 = extract_cost_lookup(pdf_path_2023)
print("Extracted " + str(len(cost_lookup_2023)) + " incident costs from the 2023 report.")
print("\
Sample of extracted costs from 2023:")
count = 0
for name, cost in cost_lookup_2023.items():
    print(name + ": " + cost)
    count += 1
    if count >= 10:
        break

# Extract cost data from the 2018 report
print("\
Extracting cost data from the 2018 annual report...")
cost_lookup_2018 = extract_cost_lookup(pdf_path_2018)
print("Extracted " + str(len(cost_lookup_2018)) + " incident costs from the 2018 report.")
print("\
Sample of extracted costs from 2018:")
count = 0
for name, cost in cost_lookup_2018.items():
    print(name + ": " + cost)
    count += 1
    if count >= 10:
        break

# Load CSV file containing records for all years
print("\
Loading CSV from " + csv_path)
df = pd.read_csv(csv_path)
print("Loaded CSV with " + str(len(df)) + " records.")

# Update cost values based on lookup for 2023 and 2018
update_count_2023 = 0
update_count_2018 = 0

# Update records for year 2023
df_2023 = df[df['Year'] == 2023]
print("Found " + str(len(df_2023)) + " records for Year 2023.")
for idx, row in df_2023.iterrows():
    norm_name = normalize_name(row['Name'])
    if norm_name in cost_lookup_2023:
        cost = cost_lookup_2023[norm_name]
        if cost != 'NR':
            df.at[idx, 'Cost'] = cost
            update_count_2023 += 1
            print("Updated 2023: " + row['Name'] + " with cost: " + cost)

# Update records for year 2018
df_2018 = df[df['Year'] == 2018]
print("Found " + str(len(df_2018)) + " records for Year 2018.")
for idx, row in df_2018.iterrows():
    norm_name = normalize_name(row['Name'])
    if norm_name in cost_lookup_2018:
        cost = cost_lookup_2018[norm_name]
        if cost != 'NR':
            df.at[idx, 'Cost'] = cost
            update_count_2018 += 1
            print("Updated 2018: " + row['Name'] + " with cost: " + cost)

print("\
Total incidents updated with actual costs for 2023: " + str(update_count_2023))
print("Total incidents updated with actual costs for 2018: " + str(update_count_2018))

# Ensure every record has a cost entry: fill blank/missing with 'NR'
def format_cost(cost):
    if pd.isna(cost) or str(cost).strip() == '' :
        return 'NR'
    cost_str = str(cost).strip()
    if cost_str.upper() == 'NR':
        return 'NR'
    if not cost_str.startswith('$'):
        return '$' + cost_str
    return cost_str

df['Cost'] = df['Cost'].apply(format_cost)

# Save the updated CSV

df.to_csv(output_csv, index=False)
print("\
Updated CSV saved to: " + output_csv)

# Display sample of updated 2023 and 2018 records
print("\
Sample of updated 2023 records:")
df_updated = pd.read_csv(output_csv)
df_2023_updated = df_updated[df_updated['Year'] == 2023]
print(df_2023_updated[['Name', 'Cost']].head(10))

print("\
Sample of updated 2018 records:")
df_2018_updated = df_updated[df_updated['Year'] == 2018]
print(df_2018_updated[['Name', 'Cost']].head(10))

print("\
Processing complete.")

Extracting cost data from the 2023 annual report...
Extracted 0 incident costs from the 2023 report.
Sample of extracted costs from 2023:
Extracting cost data from the 2018 annual report...
Found cost data in table 1 on page 9 in annual_report_ 2018_508.pdf
Found cost data in table 1 on page 10 in annual_report_ 2018_508.pdf
Extracted 47 incident costs from the 2018 report.
Sample of extracted costs from 2018:
mendocino complex: $220000000
martin: $10000000
rhea: $3800000
south sugarloaf: $20000000
carr: $162289294
klondike: $104500000
camp: $120000000
goose creek: $7850000
spring creek: $35000000
pole creek: $29100000
Loading CSV from combined_incidents_clean_final_updated_2016_2020.csv
Loaded CSV with 470 records.
Found 10 records for Year 2023.
Found 24 records for Year 2018.
Updated 2018: Mendocino Complex with cost: $220000000
Updated 2018: Martin with cost: $10000000
Updated 2018: Rhea with cost: $3800000
Updated 2018: South Sugarloaf with cost: $20000000
Updated 2018: Carr with cost: $162289294
Updated 2018: Klondike with cost: $104500000
Updated 2018: Camp with cost: $120000000
Updated 2018: Goose Creek with cost: $7850000
Updated 2018: Spring Creek with cost: $35000000
Updated 2018: Pole Creek with cost: $29100000
Updated 2018: Boxcar with cost: $3500000
Updated 2018: Grassy Ridge with cost: $3000000
Updated 2018: Woolsey with cost: $56943320
Updated 2018: Ferguson with cost: $150000000
Updated 2018: County with cost: $47000000
Updated 2018: Avian Complex with cost: $10781364
Updated 2018: Substation with cost: $4200000
Updated 2018: Grass Valley with cost: $875000
Updated 2018: Boylston with cost: $995000
Updated 2018: Dollar Ridge with cost: $22000000
Updated 2018: Zitziana River with cost: $2440527
Updated 2018: Sharps with cost: $9500000
Updated 2018: Delta with cost: $64429020
Total incidents updated with actual costs for 2023: 0
Total incidents updated with actual costs for 2018: 23
Updated CSV saved to: combined_incidents_clean_final_updated_all_years.csv
Sample of updated 2023 records:
                            Name Cost
259          Smith River Complex   NR
260                         York   NR
261                  Newell Road   NR
262                         Pass   NR
263             Anderson Complex   NR
264                        Delta   NR
265          Clear Creek Complex   NR
266  2023 SRF Lightning\nComplex   NR
267               Pogo Mine Road   NR
268                     Cooksley   NR
Sample of updated 2018 records:
                  Name        Cost
235  Mendocino Complex  $220000000
236             Martin   $10000000
237               Rhea    $3800000
238    South Sugarloaf   $20000000
239               Carr  $162289294
240           Klondike  $104500000
241               Camp  $120000000
242        Goose Creek    $7850000
243       Spring Creek   $35000000
244         Pole Creek   $29100000
Processing complete.

In [16]:
import pdfplumber
import pandas as pd
import re

# Define file paths for the three new reports
pdf_path_2019 = "annual_report_2019_508.pdf"
pdf_path_2021 = "annual_report_2021.pdf"
pdf_path_2024 = "annual_report_2024.pdf"

# Use the latest CSV that we have been updating
csv_path = "combined_incidents_clean_final_updated_all_years.csv"
output_csv = "combined_incidents_clean_final_updated_2019_2021_2024.csv"

# Define helper functions
def normalize_name(name):
    return re.sub(r'\s+', ' ', str(name).strip().lower())

def clean_cost(cost):
    if pd.isna(cost) or str(cost).strip() == '':
        return 'NR'
    cost_str = str(cost).strip()
    if cost_str.upper() == 'NR':
        return 'NR'
    clean_val = cost_str.replace('$', '').replace(',', '')
    return '$' + clean_val

# Function to extract cost lookup from a given PDF
def extract_cost_lookup(pdf_path):
    cost_lookup = {}
    try:
        with pdfplumber.open(pdf_path) as pdf:
            for i, page in enumerate(pdf.pages):
                tables = page.extract_tables()
                if not tables:
                    continue
                for table_idx, table in enumerate(tables):
                    # skip if table has less than 2 rows
                    if len(table) < 2:
                        continue
                    df_table = pd.DataFrame(table[1:], columns=table[0])
                    # Clean column names
                    df_table.columns = [str(c).strip() for c in df_table.columns]
                    
                    cost_col = None
                    name_col = None
                    
                    # Look for columns with cost and name
                    for col in df_table.columns:
                        if col and 'cost' in str(col).lower():
                            cost_col = col
                        if col and 'name' in str(col).lower():
                            name_col = col
                    
                    if cost_col and name_col:
                        # Debug print for which table found
                        print(f"Found cost data in table {table_idx+1} on page {i+1} in {pdf_path}")
                        print(f"Name column: {name_col}, Cost column: {cost_col}")
                        
                        # Build lookup dictionary
                        for _, row in df_table.iterrows():
                            incident_name = row[name_col]
                            cost_value = row[cost_col]
                            
                            if pd.notna(incident_name) and pd.notna(cost_value) and str(incident_name).strip() != "":
                                norm_name = normalize_name(incident_name)
                                clean_cost_val = clean_cost(cost_value)
                                cost_lookup[norm_name] = clean_cost_val
    except Exception as e:
        print(f"Error processing {pdf_path}: {e}")
    return cost_lookup

# Extract cost data from the 2019 report
print("\
Extracting cost data from the 2019 annual report...")
cost_lookup_2019 = extract_cost_lookup(pdf_path_2019)
print(f"Extracted {len(cost_lookup_2019)} incident costs from the 2019 report.")
print("\
Sample of extracted costs from 2019:")
count = 0
for name, cost in cost_lookup_2019.items():
    print(f"{name}: {cost}")
    count += 1
    if count >= 10:
        break

# Extract cost data from the 2021 report
print("\
Extracting cost data from the 2021 annual report...")
cost_lookup_2021 = extract_cost_lookup(pdf_path_2021)
print(f"Extracted {len(cost_lookup_2021)} incident costs from the 2021 report.")
print("\
Sample of extracted costs from 2021:")
count = 0
for name, cost in cost_lookup_2021.items():
    print(f"{name}: {cost}")
    count += 1
    if count >= 10:
        break

# Extract cost data from the 2024 report
print("\
Extracting cost data from the 2024 annual report...")
cost_lookup_2024 = extract_cost_lookup(pdf_path_2024)
print(f"Extracted {len(cost_lookup_2024)} incident costs from the 2024 report.")
print("\
Sample of extracted costs from 2024:")
count = 0
for name, cost in cost_lookup_2024.items():
    print(f"{name}: {cost}")
    count += 1
    if count >= 10:
        break

# Load CSV file containing records for all years
print(f"\
Loading CSV from {csv_path}")
df = pd.read_csv(csv_path)
print(f"Loaded CSV with {len(df)} records.")

# Update cost values based on lookup for 2019, 2021, and 2024
update_count_2019 = 0
update_count_2021 = 0
update_count_2024 = 0

# Update records for year 2019
df_2019 = df[df['Year'] == 2019]
print(f"Found {len(df_2019)} records for Year 2019.")
for idx, row in df_2019.iterrows():
    norm_name = normalize_name(row['Name'])
    if norm_name in cost_lookup_2019:
        cost = cost_lookup_2019[norm_name]
        if cost != 'NR':
            df.at[idx, 'Cost'] = cost
            update_count_2019 += 1
            print(f"Updated 2019: {row['Name']} with cost: {cost}")

# Update records for year 2021
df_2021 = df[df['Year'] == 2021]
print(f"Found {len(df_2021)} records for Year 2021.")
for idx, row in df_2021.iterrows():
    norm_name = normalize_name(row['Name'])
    if norm_name in cost_lookup_2021:
        cost = cost_lookup_2021[norm_name]
        if cost != 'NR':
            df.at[idx, 'Cost'] = cost
            update_count_2021 += 1
            print(f"Updated 2021: {row['Name']} with cost: {cost}")

# Update records for year 2024
df_2024 = df[df['Year'] == 2024]
print(f"Found {len(df_2024)} records for Year 2024.")
for idx, row in df_2024.iterrows():
    norm_name = normalize_name(row['Name'])
    if norm_name in cost_lookup_2024:
        cost = cost_lookup_2024[norm_name]
        if cost != 'NR':
            df.at[idx, 'Cost'] = cost
            update_count_2024 += 1
            print(f"Updated 2024: {row['Name']} with cost: {cost}")

print(f"\
Total incidents updated with actual costs for 2019: {update_count_2019}")
print(f"Total incidents updated with actual costs for 2021: {update_count_2021}")
print(f"Total incidents updated with actual costs for 2024: {update_count_2024}")

# Ensure every record has a cost entry: fill blank/missing with 'NR'
def format_cost(cost):
    if pd.isna(cost) or str(cost).strip() == '':
        return 'NR'
    cost_str = str(cost).strip()
    if cost_str.upper() == 'NR':
        return 'NR'
    if not cost_str.startswith('$'):
        return '$' + cost_str
    return cost_str

df['Cost'] = df['Cost'].apply(format_cost)

# Save the updated CSV
df.to_csv(output_csv, index=False)
print(f"\
Updated CSV saved to: {output_csv}")

# Display sample of updated records
df_updated = pd.read_csv(output_csv)

print("\
Sample of updated 2019 records:")
df_2019_updated = df_updated[df_updated['Year'] == 2019]
if len(df_2019_updated) > 0:
    print(df_2019_updated[['Name', 'Cost']].head(10))
else:
    print("No records found for 2019")

print("\
Sample of updated 2021 records:")
df_2021_updated = df_updated[df_updated['Year'] == 2021]
if len(df_2021_updated) > 0:
    print(df_2021_updated[['Name', 'Cost']].head(10))
else:
    print("No records found for 2021")

print("\
Sample of updated 2024 records:")
df_2024_updated = df_updated[df_updated['Year'] == 2024]
if len(df_2024_updated) > 0:
    print(df_2024_updated[['Name', 'Cost']].head(10))
else:
    print("No records found for 2024")

print("\
Processing complete.")

Extracting cost data from the 2019 annual report...
Found cost data in table 1 on page 10 in annual_report_2019_508.pdf
Name column: Name, Cost column: Estimated
Cost
Found cost data in table 1 on page 11 in annual_report_2019_508.pdf
Name column: Name, Cost column: Estimated
Cost
Extracted 27 incident costs from the 2019 report.
Sample of extracted costs from 2019:
old grouch top: $61000
frozen calf: $4332806
hess creek: $3005369
swan lake: $48101094
bearnose hill: $2108024
woodbury: $20000000
sheep: $710000
black river: $30000
north river: $40000
tractor trail 2: $461188
Extracting cost data from the 2021 annual report...
Found cost data in table 1 on page 11 in annual_report_2021.pdf
Name column: Name, Cost column: Estimated
Cost
Found cost data in table 1 on page 12 in annual_report_2021.pdf
Name column: Name, Cost column: Estimated
Cost
Extracted 37 incident costs from the 2021 report.
Sample of extracted costs from 2021:
dixie: $30000000
bootleg: $100900000
monument: $163739291
caldor: $271147512
river complex: $95340595
telegraph: $36400000
richard spring: $6500000
antelope: $74950300
mcfarland: $43960000
four county: NR
Extracting cost data from the 2024 annual report...
Extracted 0 incident costs from the 2024 report.
Sample of extracted costs from 2024:
Loading CSV from combined_incidents_clean_final_updated_all_years.csv
Loaded CSV with 470 records.
Found 26 records for Year 2019.
Updated 2019: Old Grouch Top with cost: $61000
Updated 2019: Frozen Calf with cost: $4332806
Updated 2019: Hess Creek with cost: $3005369
Updated 2019: Swan Lake with cost: $48101094
Updated 2019: Bearnose Hill with cost: $2108024
Updated 2019: Woodbury with cost: $20000000
Updated 2019: Sheep with cost: $710000
Updated 2019: Black River with cost: $30000
Updated 2019: North River with cost: $40000
Updated 2019: Tractor Trail 2 with cost: $461188
Updated 2019: Hurst Creek with cost: $231175
Updated 2019: Kincade with cost: $77144684
Updated 2019: Pothole with cost: $600000
Updated 2019: Hadweenzic River with cost: $5004308
Updated 2019: Walker with cost: $35600000
Updated 2019: Wilderness with cost: $60000
Updated 2019: Foraker with cost: $203477
Updated 2019: Grouse Creek with cost: $2000000
Updated 2019: Page Mountain with cost: $394900
Updated 2019: Williams Flatt with cost: $19432000
Updated 2019: Bergman Creek with cost: $1233004
Updated 2019: Cold Creek with cost: $900000
Found 24 records for Year 2021.
Updated 2021: Dixie with cost: $30000000
Updated 2021: Bootleg with cost: $100900000
Updated 2021: Monument with cost: $163739291
Updated 2021: Caldor with cost: $271147512
Updated 2021: River Complex with cost: $95340595
Updated 2021: Telegraph with cost: $36400000
Updated 2021: Richard Spring with cost: $6500000
Updated 2021: Antelope with cost: $74950300
Updated 2021: McFarland with cost: $43960000
Updated 2021: Snake River
Complex with cost: $9498972
Updated 2021: Schneider Springs with cost: $53955225
Updated 2021: Beckwourth
Complex with cost: $542539952
Updated 2021: Windy with cost: $78421741
Updated 2021: McCash with cost: $53350000
Updated 2021: Cougar Peak with cost: $26000000
Updated 2021: Johnson with cost: $7500000
Updated 2021: Boundary with cost: $12002000
Updated 2021: KNP Complex with cost: $170000000
Updated 2021: Rafael with cost: $11000000
Updated 2021: Mescal with cost: $12075000
Updated 2021: Cub Creek 2 with cost: $27788529
Updated 2021: Tamarack with cost: $37000000
Found 37 records for Year 2024.
Total incidents updated with actual costs for 2019: 22
Total incidents updated with actual costs for 2021: 22
Total incidents updated with actual costs for 2024: 0
Updated CSV saved to: combined_incidents_clean_final_updated_2019_2021_2024.csv
Sample of updated 2019 records:
                Name       Cost
376   Old Grouch Top     $61000
377      Frozen Calf   $4332806
378       Hess Creek   $3005369
379        Swan Lake  $48101094
380    Bearnose Hill   $2108024
381         Woodbury  $20000000
382            Sheep    $710000
383      Black River     $30000
384      North River     $40000
385  Tractor Trail 2    $461188
Sample of updated 2021 records:
               Name        Cost
315           Dixie   $30000000
316         Bootleg  $100900000
317        Monument  $163739291
318          Caldor  $271147512
319   River Complex   $95340595
320       Telegraph   $36400000
321  Richard Spring    $6500000
322        Antelope   $74950300
323       McFarland   $43960000
324     Four County          NR
Sample of updated 2024 records:
                   Name Cost
339         Betty's Way   NR
340    Smokehouse Creek   NR
341             Catesby   NR
342            McDonald   NR
343            Midnight   NR
344  Grapefruit Complex   NR
345               Falls   NR
346          Cow Valley   NR
347           Lone Rock   NR
348            Boneyard   NR
Processing complete.